/* Defining style rules for CMS blocks/sections of the theme */

.#{$ns} {
  &-block {
    position: relative;
    //overflow: hidden;

    /* Color variations */

    /* Color grey */
    &--grey {
      background: {
        color: $color-whiteSmoke;
      }
    }

    /* Color white */
    &--white {
      background: {
        color: $color-white;
      }
    }

    /* Color white */
    &--heather {
      background: {
        color: $color-heather;
      }
    }

    /* Color goldenrod(blue) */
    &--goldenrod {
      background: {
        color: $color-darkGoldenrod;
      }
    }

    /* Defining style rules for Shortcodes blocks :: Picto with title */
    &--picto {

      @include media(">smart-phone") {
        .ipro-flex {
          justify-content: center;
        }
      }

      a {
        display: inline-block;
        color: $color-white;

        &:hover {
          span {
            color: $color-charcoal;

            &::after {
              background: {
                color: $color-charcoal;
              }
            }
          }

          i {
            &:not([class*="--small"]) {
              border-color: $color-charcoal;
              color: $color-charcoal;
            }

            &.icon-picto {
              &::before {
                background: {
                  image: url(#{$img-path}picto-grey-icon.png);
                  repeat: no-repeat;
                  size: 100%;
                }  
              }
            }
          }
        }
      }

      &.#{$ns}-block--white {
        a {
          color: $color-storm-grey;

          &:hover {
            i {
              &[class*="--small"] {
              border-color: $color-charcoal;
              color: $color-charcoal;
            }
            }
          }
        }
      }

      &__circle {
        font-family: $ff-museo-500;
        text-transform: $uc;
        line-height: 1.250rem;
        text-align: center;

        figcaption {
          > span {
            position: relative;
            display: inline-block;
            transition: all linear 0.30s;

              &::after {
              position: absolute;
              bottom: 0;
              left: 0;
              content: "";
              height: 1px;
              width: 100%;
              background: $color-white;
              transform: scale3d(0, 0, 0);
              transition: all linear 0.30s;
            }
          }

          @include media(">smart-phone") {
            display: inline-block;
            width: 100%;
          }
        }

        &:hover {
          figcaption {
            > span {
              &::after {
                transform: scale3d(1, 1, 1);
              }
            }
          }
        }

        @include media(">laptop") {
          font-size: 1.250rem;
        }
        
        @include media("<=smart-phone") {
          display: inline-block;
          vertical-align: top;
        }

        .icon {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-bottom: 2.000rem;
          border-radius: 50%;
          transition: all ease-in-out 0.5s;

          .#{$ns}-block--white & {
            &[class*="icon-picto"] {
              border-color: $color-storm-grey;
              color: $color-storm-grey;
            }        
          }

          @include media(">ipad") {
            &:not([class*="--small"]) {
              width: 9.938rem;
              height: 9.938rem;
              border: 5px solid $color-white;
              font-size: 3.810rem;
            }

            &[class*="--small"] {
              width: 7rem;
              height: 7rem;
              border: 4px solid $color-white;
              font-size: 3rem;
            }
          }

          @include media("<=ipad", ">smart-phone") {
            &:not([class*="--small"]) {
              width: 8.25rem;
              height: 8.25rem;
              border: 4px solid $color-white;
              font-size: 2.810rem;
            }

            &[class*="--small"] {
              width: 6rem;
              height: 6rem;
              border: 4px solid $color-white;
              font-size: 2.25rem;
            }
          }

          @include media("<=smart-phone", ">phone") {
            &:not([class*="--small"]) {
              width: 15rem;
              height: 15rem;
              border: 4px solid $color-white;
              font-size: 7rem;
            }

            &[class*="--small"] {
              width: 13rem;
              height: 13rem;
              border: 4px solid $color-white;
              font-size: 5rem;
            }
          }

          @include media("<=phone") {
            &:not([class*="--small"]) {
              width: 10rem;
              height: 10rem;
              border: 4px solid $color-white;
              font-size: 4rem;
            }

            &[class*="--small"] {
              width: 8rem;
              height: 8rem;
              border: 4px solid $color-white;
              font-size: 3.5rem;
            }
          }

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &-picto {
            &::before {
              content: "";
              width: 3.625rem;
              height: 3.625rem;
              background: {
                image: url(#{$img-path}picto-icon.png);
                repeat: no-repeat;
                size: 100%;
              }
              transition: all linear 0.35s;
            }

            &:hover {
              &::before {
                background: {
                  image: url(#{$img-path}picto-grey-icon.png);
                  repeat: no-repeat;
                  size: 100%;
                }  
              }
            }
          }

          &:hover {
            //border-color: $color-charcoal;
            //color: $color-charcoal;
          }
        }
      }
    }

    /* Small gap block */
    &--gapSmall {
      @include media(">desktop") {
        padding: 6.00rem 0;
      }

      @include media("<=desktop", ">ipad") {
        padding: 5.25rem 0;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 4.5rem 0;
      }

      @include media("<=smart-phone") {
        padding: 3.75rem 0;
      }
    }

    /* Small gap block */
    &--contactDetails {
      @include media(">desktop") {
        padding: 5.188rem 0 7rem;
      }

      @include media("<=desktop", ">ipad") {
        padding: 5rem 0 6rem;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 4.5rem 0 5.5rem;
      }

      @include media("<=smart-phone") {
        padding: 3.75rem 0 3.75rem;
        text-align: center;
      }
    }

    /* NGL shortcode :: home page experience block */
    &--twoHalf,
    &--twoHalfSepText {
      &:not(&Small) {
        h3 {        
          color: $color-storm-grey;
          font-family: $ff-museo-300;
        }
      }

      .ipro-flex__col {
        @include media(">smart-phone") {
          /* flex-direction: column;
          justify-content: center; */
        }
      }

      @include media("<=smart-phone") {
        text-align: center;
      }

      h2 {
        @include media(">laptop") {
          margin-bottom: 2.15rem;
        }

        @include media("<=smart-phone") {
          margin-bottom: 1.25rem;
        }

        + h3 {
          text-transform: none;

          @include media(">smart-phone") {
            margin-top: -1.35rem;
            margin-bottom: 1.90rem;
          }

          @include media("<=smart-phone") {
            margin-top: -1rem;
            margin-bottom: 1rem;
          }
        }
      }

      strong {
        display: block;
        margin-bottom: 10px;

        + p {
          font-size: 1rem;
        }
      }

      p {
        font-size: 1.125rem; 
        strong {
        }
      }

      blockquote {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 2.50rem;
        //padding: 0 1.250rem 0 1.250rem;
        padding: 0 0;
        border: 0;
        color: $color-regent;
        font-family: $ff-rbt-rg;
        text-transform: none;
        line-height: 2.188rem;

        &::before,
        &::after {
          //position: absolute;
          content: "";
          display: inline-block;
          vertical-align: top;
          width: 1.313rem; //21px;
          height: 1.063rem;//17px;
          background: {
            repeat: no-repeat;
          };
        }

        &::before {
          //top: 0.35rem;
          //left: 0;
          margin-top: 0.35rem;
          margin-right: 0.85rem;
          background-image: url(#{$img-path}blockquote-open.png);
        }

        &::after {
          //bottom: 0.35rem;
          margin-top: 0.75rem;
          margin-left: 0.85rem;
          background-image: url(#{$img-path}blockquote-close.png);
        }
      }
    }

    /* Subsidiaries page block content */
    &--subsidiaries {
      h5,
      address {
        font-family: $ff-roboto-light;  
        font-size: 1.25rem;

        a {
          color: $color-white;
        }
      }

      h5 {
        margin-bottom: 1.25rem;
      }
    }

    // Col with overlay enabled
    &--isoverlay {
      background: transparentize($color-white, 0.38);
      transition: padding linear 0.35s;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        background: rgba(255, 255, 255, 0.625);
      }
    }

    // Col with left align
    .text-right {
      @include media(">smart-phone") {
        > div {
          margin: 0 0 0 auto;
        }
      }
    }

    .#{$ns}-block--text {
      background: $color-whiteSmoke;
    }

    &.#{$ns}-block--full {
    //background: $color-white;

      .#{$ns}-block--img {
        text-align: center;

        @include media(">desktop") {
          padding-top: 7rem;
          padding-right: 0;
          padding-bottom: 7rem;
          padding-left: 0;
        }

        @include media("<=desktop", ">smart-phone") {
          padding-top: 3rem;
          padding-bottom: 3rem;
        }
      }
    }

    // Col with large top-bottom gap
    &__gap--largecms {
      //padding: 8.125rem 13.438rem;

      /* Targeting different screen resolutions using @media queries */

      @include media(">lg-screen") {
        padding: 9.688rem 10.938rem 9.688rem 10.938rem;
      }

      @include media("<=lg-screen", ">widescreen") {
        padding: 8.125rem 8.250rem 8.125rem 8.250rem;
      }

      @include media("<=widescreen", ">desktop") {
        padding: 7.125rem 7.438rem;
      }

      @include media("<=desktop", ">laptop") {
        padding: 6.125rem 5.438rem;
      }

      @include media("<=laptop", ">ipad") {
        padding: 4.125rem 4.438rem;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 3.125rem 2.438rem;
      }

      @include media("<=smart-phone") {
        padding: 3.125rem 0.983rem;
      }

      &.ipro-block--text {

        @include media(">smart-phone") {
          .ipro-col__content {
            overflow: visible;
            max-width: 550px;
          }
        }
      }
    }

    // Col with large top-bottom gap
    &__gap--large {
      //padding: 8.125rem 13.438rem;

      /* Targeting different screen resolutions using @media queries */

      @include media(">lg-screen") {
        padding: 9.125rem 13.438rem 9.125rem 13.438rem;
      }

      @include media("<=lg-screen", ">widescreen") {
        padding: 8.125rem 10.250rem 8.125rem 10.250rem;
      }

      @include media("<=widescreen", ">desktop") {
        padding: 7.125rem 7.438rem;
      }

      @include media("<=desktop", ">laptop") {
        padding: 6.125rem 5.438rem;
      }

      @include media("<=laptop", ">ipad") {
        padding: 4.125rem 4.438rem;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 3.125rem 2.438rem;
      }

      @include media("<=smart-phone") {
        padding: 3.125rem 0.983rem;
      }

      &.ipro-block--text {

        @include media(">smart-phone") {
          .ipro-col__content {
            overflow: visible;
            max-width: 495px;
          }
        }
      }
    }

    // Col with medium top-bottom gap
    &__gap--medium {
      //padding: 8.125rem 13.438rem;

      /* Targeting different screen resolutions using @media queries */

      @include media(">lg-screen") {
        padding: 8.125rem 13.438rem 8.125rem 13.438rem;
      }

      @include media("<=lg-screen", ">widescreen") {
        padding: 8.125rem 10.250rem 8.125rem 10.250rem;
      }

      @include media("<=widescreen", ">desktop") {
        padding: 7.125rem 7.438rem;
      }

      @include media("<=desktop", ">laptop") {
        padding: 6.125rem 5.438rem;
      }

      @include media("<=laptop", ">ipad") {
        padding: 4.125rem 4.438rem;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 3.125rem 2.438rem;
      }

      @include media("<=smart-phone") {
        padding: 3.125rem 0.983rem;
      }

      .ipro-col__content {

        @include media(">smart-phone") {
          max-width: 474px;
        }
      }
    }

    // Col with only background image
    &--bkg {
      @include media("<=smart-phone") {
        margin-bottom: 0;
        padding-bottom: percentage(553/ 961);
      }
    }

    // Col with large top-bottom gap
    &__gap--small {
      //padding: 8.125rem 13.438rem;

      /* Targeting different screen resolutions using @media queries */

      @include media(">lg-screen") {
        padding: 6.250rem 13.438rem 6.250rem 13.438rem;
      }

      @include media("<=lg-screen", ">widescreen") {
        padding: 6.563rem 10.250rem 6.563rem 10.250rem;
      }

      @include media("<=widescreen", ">desktop") {
        padding: 7.125rem 7.438rem;
      }

      @include media("<=desktop", ">laptop") {
        padding: 6.125rem 5.438rem;
      }

      @include media("<=laptop", ">ipad") {
        padding: 4.125rem 4.438rem;
      }

      @include media("<=ipad", ">smart-phone") {
        padding: 3.125rem 3.438rem;
      }

      @include media("<=smart-phone") {
        padding: 3.125rem 0.983rem;
      }

      .ipro-col__content {

        @include media(">smart-phone") {
          max-width: 370px;
        }
      }
    }

    &--logo {
      .ipro-block__gap--small {

        @include media("<=desktop", ">laptop") {
          padding: 6.125rem 6.438rem;
        }

        @include media("<=laptop", ">ipad") {
          padding: 4.125rem 5.438rem;
        }

        @include media("<=ipad", ">smart-phone") {
          padding: 3.125rem 4.438rem;
        }

        @include media("<=smart-phone") {
          &:first-of-type {
            padding-bottom: 12rem;
          }
        }
      }
    }

    /* Two half with quality services */
    &__list-group {
      li {
        font-family: $ff-museo-500;
        font-weight: bold;
        text-transform: $uc;

        @include media(">desktop") {
          font-size: 1.563rem;
        }

        @include media("<=desktop", ">laptop") {
          font-size: 1.250rem;
        }

        @include media("<=laptop", ">smart-phone") {
          font-size: 1.125rem;
        }

        &:not(:last-of-type) {

          @include media(">smart-phone") {
            margin-bottom: 2.250rem;
          }

          @include media("<=smart-phone") {
            margin-bottom: 1.250rem;
          }
        }

        > span {
          font-family: $ff-museo-300;
          font-weight: 100;
        }
      }
    }

    &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
      transition: all linear 0.35s;

      &.animated {
        transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);

        &:hover {
          transform: translate3d(-50%, -50%, 0) scale3d(1.15, 1.15, 1.15);
        }
      }

      @include media(">desktop") {
        width: 11.125rem;
      }

      @include media("<=desktop", ">laptop") {
        width: 9.125rem;
      }

      @include media("<=laptop", ">smart-phone") {
        width: 7.125rem;
      }

      @include media("<=smart-phone") {
        width: 8.5rem;
      }
    }

    /* Two half section with inverted layout */
    &--invert {
      .ipro-flex__col {

        &:first-of-type {
          order: 2;
        }

        &:last-of-type {
          order: 1;
        }
      }
    }

    /* Components cols */

    &__col {
      &--noPadding {
        overflow: hidden;
        padding: 0 0;
      }

      &-caption {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        overflow: visible;
        margin: 0 auto 0px;
        text-align: center;
        transform: translateY(-400%);

        &.slideInDownx {
          transform: translateY(-50%);
        }

        @include media("<=smart-phone") {
          .ipro-chevron--right {
            &::after {
              transform: rotate(45deg);
            }
          }
        }
      }
    }

    /* NGL Component :: KwirksBox */
    &--kwirksBox {
      position: relative;
      overflow: hidden;
      background: $color-darkGoldenrod;
      font-family: $ff-museo-500;

      &__row {

        @include media("<=smart-phone") {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          height: auto !important;

          /* Kwirks boxes mobile */
          .ipro-block__col[data-box="kwirks-box"] {
            margin-bottom: 0;
          }

          /* Re-ordering boxes in mobile */
          .ipro-block__col[data-order="2"] {
            order: 3;
          }

          .ipro-block__col[data-order="3"] {
            order: 2;
          }
        }
      }

      h2 {
        margin-bottom: 0;
        span {
          display: block;

          @include media("<=smart-phone") {
            margin-bottom: 2.625rem;
          }
        }
      }

      [data-box="kwirks-box"] {
        //cursor: pointer;

        figure {
          > img {
            width: 100%;
          }
        }

        @include media(">smart-phone") {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          transition: transform linear 0.35s;
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

          &:first-of-type {
            left: 0;
            z-index: 1;
          }

          &:nth-of-type(2) {
            left: 33.333333%;
            z-index: 0;
          }

          &:last-of-type:not(.kwirks-box) {
            left: 66.666666%;
            z-index: $higher-index + 2;
          }

          .ipro-kwirks__mbl-trigger {
            @include media(">smart-phone") {
              display: none;
            }
          }

          .kwirks-box__inner {
            &::after {
              content: "";
              display: block;
              padding-bottom: percentage(796 / 735);
            }

            > .ipro-col__content {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;

              &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 0;
                pointer-events: none;
                opacity: 0;
                content: "";
                background: transparentize($color-realBlack, 0.45);
                transition: all linear 0.15s;
              }
            }
          }
        }

        /* Kwirks box enabled */
        &.kwirks-box {
          z-index: 1;
          width: 100%;

          /* Kwirks box enabled chevron right */
          .ipro-chevron--right {
            &::after {
              transform: rotate(135deg);
            }
          }

          &--leftExpanded-fast {
            //position: absolute;
          }

          &--centerExpanded {
            transform: translate3d(0%, 0, 0);
            transition: transform linear 0.5s;
          }

          /* Siblings */
          &--siblings {
            //pointer-events: none;
            position: absolute;
            top: 0;
            right: 0;
            //z-index: $higher-index;

            .ipro-col__content::before {
              pointer-events: auto;
              opacity: 1;
            }
          }

          &--leftExpanded {

            &:first-of-type {
              z-index: $higher-index + 2;
              transform: translate3d(-88%, 0, 0);
            }

            &:nth-of-type(2) {
              z-index: 0;
              transform: translate3d(-175%, 0, 0);
            }
          }

          &--rightExpanded {
            //transform: translate3d(2880%, 0, 0);

            &:nth-of-type(3) {
              //z-index: $higher-index + 2;
              transform: translate3d(88%, 0, 0);
            }

            &:nth-of-type(2) {
              //pointer-events: none;
              //z-index: $higher-index + 2;
              transform: translate3d(175%, 0, 0);
            }
          }
        }
      }

      .left-pushed {
        [data-box="kwirks-box"]:first-of-type {
          //z-index: $higher-index + 3 !important;
        }

        .kwirks-box__hidden {
          right: 33.333333%;
          left: auto;
        }

        .kwirks-box__inner {
          float: right !important;
        }
      }

      .right-pushed {

        .kwirks-box__hidden {
          right: auto;
          left: 33.333333%;
        }
      }

      /* Kwirks box enabled kwirks inner layout */

      .kwirks-box {

        .kwirks-box__inner {
          position: relative;
          overflow: hidden;
          float: left;
          width: 33.333333%;
        }

        .kwirks-box__hidden {
          position: absolute;
          top: 0;
          bottom: 0;
          overflow: hidden;
          //width: 66.666666%;
          width: 58.35%;
          height: 100%;
          background: $color-darkGoldenrod;
          cursor: default;

          &::after {
            content: "";
            display: block;
            padding-bottom: percentage(686 / 1268);
          }
        }

        &:not([data-index="3"]) {
          .kwirks-box__hidden {
            float: right;
          }
        }

        &[data-index="3"] {
          .kwirks-box__hidden {
            float: left;
          }
        }
      }

      /* Kwirks hidden mobile content */

      .kwirks-box__hidden--list {

        @include media("<=smart-phone") {

          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: $higher-index + 5;
          overflow-x: hidden;
          overflow-y: auto;
          pointer-events: none;
          margin: 0 -15px;
          transition: all linear 0.35s;
          //transform: scale3d(0, 0, 0);
          transform: translateX(100%);
          cursor: default;

          &.kwirks-mobile--list {
            pointer-events: auto;
            opacity: 1;
            background: $color-darkGoldenrod;
            //transform: scale3d(1, 1, 1);
            transform: translateX(0%);

            .closer-x {
              position: absolute;
              top: 20px;
              right: 30px;
              z-index: $higher-index + 3;
              display: block;
              width: 35px;
              height: 35px;
              cursor: pointer;

              &::before,
              &::after {
                position: absolute;
                top: 50%;
                right: 0;
                left: 0;
                content: "";
                display: block;
                width: 35px;
                height: 2px;
                background: $color-white;
                margin: -2px auto 0 auto;
                transform: rotate(-40deg);
                transition: all ease-in-out 0.5s;
              }

              &::after {
                width: 35px;
                transform: rotate(40deg);
                transition: all ease-in-out 0.5s;
              }
            }
          }
        }
      }

      /* Hidden content */
      .kwirks-box__hidden-content {
        position: absolute;
        // pointer-events: none;
        // opacity: 0;
        width: 100%;
        //width: 87.55%;
        transition: all ease-in-out 1s;

        @include media(">smart-phone") {
          top: 50%;
          transform: translateY(-50%);
        }

        @include media("<=smart-phone") {
          padding: 6.000rem 15px 5.000rem;
          transform: translateY(25px);

          .kwirks-box__hidden-col {
            margin-bottom: 0;
            //width: 50%;
          }
        }

        &.animate {
          pointer-events: auto;
          opacity: 1;

          @include media(">smart-phone") {
            transform: translateY(-50%);
          }

          @include media("<=smart-phone") {
            transform: translateY(0px);
          }
        }

        @include media(">desktop") {
          padding: 2rem 4.250rem;
        }

        @include media("<=desktop", ">laptop") {
          padding: 1.5rem 2.250rem;
        }

        @include media("<=laptop", ">ipad") {
          padding: 1.5rem 1.50rem;
        }

        @include media("<=ipad", ">smart-phone") {
          padding: 0.983rem 0.983rem;
        }
      }

      .left-pushed,
      .kwirks-expand:last-of-type {
        .kwirks-box__hidden-content {
          right: 0;
          left: auto;
        }
      }

      .right-pushed {
        .kwirks-box__hidden-content {
          right: auto;
          left: 0;
        }
      }

      .kwirks-box__hidden-group,
      ul {
        color: $color-white;
        &::before,
        &::after {
          overflow: hidden;
          content: "";
          display: table;
          height: 0;
          visibility: hidden;
        }

        &::after {
          clear: both;
        }

        @include media(">desktop") {
          font-size: 1.500rem;
        }

        li {
          position: relative;
          line-height: 1;
          transition: all linear 0.33s;

          &:hover {
            opacity: 0.75;
          }

          @include media(">desktop") {
            margin-bottom: 2rem;
            padding-left: 4.063rem;
            font-size: 24px;
          }

          @include media("<=desktop", ">laptop") {
            margin-bottom: 1.25rem;
            padding-left: 3.063rem;
            font-size: 1.2500rem;
          }

          @include media("<=laptop", ">ipad") {
            margin-bottom: 0.5rem;
            padding-left: 2rem;
            font-size: 1.1050rem;
          }

          @include media("<=ipad", ">smart-phone") {
            margin-bottom: 0.555rem;
            padding-left: 2rem;
            font-size: 1rem;
            line-height: 1.125rem;
          }

          @include media("<=smart-phone") {
            margin-bottom: 1rem;
            padding-left: 2rem;
            font-size: 1.25rem;
            line-height: 1.8500rem;
          }

          &::before {
            position: absolute;
            top: 0.25rem;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            background: $color-white;
            border-radius: 50%;

            @include media("<=laptop", ">ipad") {
              width: 1rem;
              height: 1rem;
            }

            @include media("<=ipad", ">smart-phone") {
              top: 0.5rem;
              width: 0.85rem;
              height: 0.85rem;
            }

            @include media("<=smart-phone") {
              top: 0.35rem;
              width: 1rem;
              height: 1rem;
            }
          }
        }

        a {
          color: $color-white;

          @include media(">=ipad") {
            line-height: 1.7500rem;
          }

          @include media("<=ipad", ">smart-phone") {
            line-height: 1.500rem;
          }
        }
      }
    }

    /* NGL blocks:: Map */

    &--map {
      position: relative;
      overflow: hidden;
      background: {
        repeat: repeat;
      }
      font-family: $ff-museo-500;

      @include media(">ipad") {
        padding-top: 5.625rem;
      }

      @include media("<=ipad", ">smart-phone") {
        padding-top: 4rem;
      }

      @include media("<=smart-phone") {
        padding-top: 3.625rem;
        min-height: 230px;
      }

      &__row {
        .map-image {
        }
      }

      /* Map caption */
      &__caption {
        position: absolute;
        top: auto;
        right: 0;
        left: 0;
        z-index: $one-index;
        display: block;
        margin: 0 auto;
        padding: 0 15px;
        width: 100%;

        @include media(">ipad") {
          bottom: 8.125rem;
        }

        @include media("<=ipad", ">smart-phone") {
          bottom: 4.5rem;
        }

        @include media("<=smart-phone") {
          bottom: 4.125rem;
          //padding: 0 15px;
        }
      }

      /* Map title */
      &__title {
        transition: all linear 0.35s;
        @include media(">desktop") {
          margin-bottom: 14.813rem;
        }

        @include media("<=desktop", ">laptop") {
          margin-bottom: 13rem;
        }

        @include media("<=laptop", ">ipad") {
          margin-bottom: 12rem;
        }

        @include media("<=ipad", ">smart-phone") {
          margin-bottom: 10rem;
        }

        @include media("<=smart-phone", ">phone") {
          margin-bottom: 6rem;
        }

        @include media("<=phone") {
          margin-bottom: 3rem;
        }

        /* Hide title */
        &.scaleOut {
          @include media(">smart-phone") {
            pointer-events: none;
            opacity: 0;
            transform: none;

            &.disabled {
              margin-bottom: 0;
              height: 0;
            }
          }
        }
      }

      /* Map pointer/marker */

      .hidden .map__marker {
        //display: none;
      }

      &__marker {
        position: absolute;
        top: 5.625rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $one-index;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 1475px;
        transition: all linear 0.35s;

        .#{$ns}-template--home & {
          pointer-events: none;
          opacity: 0;
        }

        &.enabled {
          pointer-events: auto;
          opacity: 1;
        }
      }

      .map__marker {
        position: absolute;

        &--palma {
          color: $color-palma;
        }

        &--goldenrod {
          color: $color-darkGoldenrod;
        }

        &--small {

          @include media(">desktop") {
            font-size: 2.76555rem;
          }

          @include media("<=desktop", ">laptop") {
            font-size: 2.5rem;
          }

          @include media("<=laptop", ">ipad") {
            font-size: 2rem;
          }

          @include media("<=ipad", ">smart-phone") {
            font-size: 30px;
          }

          @include media("<=smart-phone") {
            display: none;
            font-size: 16px;
          }
        }

        &--large {

          @include media(">desktop") {
            font-size: 3.925rem;
          }

          @include media("<=desktop", ">laptop") {
            font-size: 3.25rem;
          }

          @include media("<=laptop", ">ipad") {
            font-size: 2.8rem;
          }

          @include media("<=ipad", ">smart-phone") {
            font-size: 44px;
          }

          @include media("<=smart-phone") {
            display: none;
            font-size: 24px;
          }
        }

        /* Location wise position */
        &--usa {
          //top: 235px;
          //left: 375px;
          top: 33.75%;
          left: 25.42%;
        }

        &--geneva {
           //top: 208px;
           //left: 753px;
           //top: percentage(202 / 696);
           //left: percentage(752 / 1475);
           top: 29.9%;
           left: 51%;
          z-index: $one-index;
         }

        &--paris {
          //top: 211px;
          //left: 735px;
          top: 30.1%;
          left: 49.84%
        }

        &--denmark {
          //top: 133px;
          //left: 777px;
          top: 19.1%;
          left: 52.70%;
        }

        &--allemagna {
          //top: 181px;
          //left: 800px;
          top: 26.1%;
          left: 54.2%;
        }

        &--china {
          //top: 315px;
          //left: 1220px;
          top: 45.2%;
          left: 82.7%;
        }

        &--singapore {
          //top: 441px;
          //left: 1208px;
          top: 63.3%;
          left: 81.9%;
        }
      }
    }

    /* CMS blocks layout */

    /*
    ** ## common blocks
    */

    /* Banner caption */

    &__caption {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: translateY(-50%);

      /* Hero banner caption */
      &--hero {
        max-width: 835px;
        
        @include media("<=smart-phone") {
          padding: 0 15px;
        }
      }
    }

    /*
    ** #1. Hero banner 
    */
    &--heroBanner {
      position: relative;

      @include media(">ipad") {
        padding-bottom: percentage(540/1903);
      }

      @include media("<=ipad", ">smart-phone") {
        padding-bottom: percentage(540/1903) + 10;
      }

      @include media("<=smart-phone", ">phone") {
        padding-bottom: percentage(540/1903) + 17.1;
      }

      @include media("<=phone") {
        padding-bottom: percentage(540/1903) + 27.75;
      }
    }

    /* Flex Banner */
    &--flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* NGL block :: Simplex Text */
    &__text {
      &--light {
        font-family: $ff-roboto-light;
      }
    }  /* /.#NGL block :: Simplex Text */

    /* NGL block :: Quote */
    &--quote {
      @include media(">smart-phone") {
        padding: 7.188rem 0;
      }

      @include media("<=smart-phone") {
        padding: 3.5rem 0;
      }

      /* content styling */
      h5,
      address {
        font-family: $ff-roboto-emLt;
      }

      address {
        line-height: 1.85rem;
      }

      a {
        color: $color-white;
      }
    } /* /.#NGL block :: Quote */

    /* NGL block :: Large Accordion */
    &--accordionBig {
      .#{$ns}-container {
        max-width: 100%;
      }
    } /* /.#NGL block :: Large Accordion */

    /* NGL block :: gridLayout */
    &--gridLayout {
      h3 {
        text-transform: none;

        @include media(">smart-phone") {
          margin-bottom: 0.7rem;
        }

        @include media("<=smart-phone") {
          margin-bottom: 0.5rem;
        }
      }
    } /* /.#NGL block :: gridLayout */

    /* Block inside block */
    .#{$ns}-block:not[class*="myaccount"] {
      @include media(">smart-phone") {
        margin-top: 4.5rem;
      }

      @include media("<=smart-phone") {
        margin-top: 1.5rem;
      }
    }

    /* Col with text content */
    &--text {
      .#{$ns}-block--twoHalfSmall & {
        @include media(">smart-phone") {
          padding-right: 32px;
          padding-left: 45px;
        }
      }
    } /* /.#Col with text content */

    /* Gridlayout one half col */
    &--gridLayout {
      &__row {
        @include media(">laptop") {
          padding: 0 2rem;
        }
      }
      h2 {
        @include media(">smart-phone") {
          margin-bottom: 2.25rem;
        }
      }
    }

    /* Text separated grid layout */
    &--twoHalfSepText {
      .#{$ns} {
        &-block {
          &__gap--sepText {
            /* Targeting different screen resolutions using @media queries */
            @include media(">lg-screen") {
              padding: 9.125rem 2.5rem 9.125rem 2.5rem;
            }

            @include media("<=lg-screen", ">widescreen") {
              padding: 8.125rem 2.5rem 8.125rem  2.5rem;
            }

            @include media("<=widescreen", ">desktop") {
              padding: 7.125rem 2.5rem;
            }

            @include media("<=desktop", ">laptop") {
              padding: 6.125rem 2.5rem;
            }

            @include media("<=laptop", ">ipad") {
              padding: 4.125rem 2.5rem;
            }

            @include media("<=ipad", ">smart-phone") {
              padding: 3.125rem 2.5rem;
            }

            @include media("<=smart-phone") {
              padding: 3.125rem 0.983rem;
            }

            &[data-color="blue"] {
              background: {
                color: $color-darkGoldenrod;
              }
              color: $color-white;

              a {
                color: $color-white;

                &::after {
                  background: {
                    color: $color-white;
                  }
                }                
              }
            }

            &[data-color="grey"] {
              background: {
                color: $color-whiteSmoke;
              }
              h1, h2, h3, h4, h5, h6 {
                color: $color-palma;
              }
            }

            &[data-color="white"] {
              background: {
                color: $color-white;
              }
              h1, h2, h3, h4, h5, h6 {
                color: $color-palma;
              }
            }

            &[data-color="darkGrey"] {
              background: {
                color: $color-storm-grey;
              }
              color: $color-white;
              a {
                color: $color-white;

                &::after {
                  background: {
                    color: $color-white;
                  }
                }                
              }
            }

            > div {
              max-width: 520px;
            }
          }
        }
      }
    }

    /* NGL Team shortcode */
    &--team {
      text-align: center;
    }

    .#{$ns} {
      &-flex {
        &__col {
          &--team {
            > div {
              @include media(">smart-phone") {
                padding-bottom: 3.50rem;
              }
            }

            figcaption {
              color: $color-heather;
              text-align: center;
              text-transform: $uc;

              @include media(">smart-phone") {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
              }

              @include media("<=smart-phone") {
                margin-top: 1.5rem;
              }
            }
          }
        }
      }
    }

    /* NGL utilities shortcode */
    &--utilities {
      color: $color-anthracite;
      // font-family: $ff-museo-500;
      // font-size: 1.563rem;

      h3 {
        margin-bottom: 1.55rem;
        text-transform: none;
      }
    }

    /* NGL color schema shortcode */
    &--colorSchema {
    }

    .#{$ns} {
      &-flex {

        &__col {
          &--color {
            @include media(">smart-phone") {
              flex-direction: column;
            }

            &:not(.last-col) {
              margin-bottom: 2.125rem;
            }
          }
        }
      }

      &-col {
        &__box {
          /* With borders */
          display: flex;
          height: 100%;
          &--bordered {
            border: 1px solid $color-lightgrey;
          }
        }

        &__colorName {
          width: 38%;

          @include media(">ipad") {
            padding: 1.125rem 1.125rem 3.5rem;
          }

          @include media("<=ipad", ">smart-phone") {
            padding: 1rem 0.5rem 3.5rem;
          }

          @include media("<=smart-phone") {
            padding: 1.125rem 1rem 3.5rem;
          }
        }

        &__colorBox {
          width: 62%;

          /* Box with darkGoldenrod color */
          &--darkBlue {
            background: {
              color: $color-darkGoldenrod;
            }
          }

          /* Box with skyBlue color */
          &--skyBlue {
            background: {
              color: $color-skyBlue;
            }
          }

          /* Box with vert color */
          &--vert {
            background: {
              color: $color-vert;
            }
          }

          /* Box with noir color */
          &--noir {
            background: {
              color: $color-noir;
            }
          }

          /* Box with anthracite color */
          &--anthracite {
            background: {
              color: $color-anthracite;
            }
          }

          /* Box with grisfonce1 color */
          &--grisfonce1 {
            background: {
              color: $color-grisfonce1;
            }
          }

          /* Box with grisfonce2 color */
          &--grisfonce2 {
            background: {
              color: $color-grisfonce2;
            }
          }

          /* Box with grisclair1 color */
          &--grisclair1 {
            background: {
              color: $color-grisclair1;
            }
          }

          /* Box with grisclair2 color */
          &--grisclair2 {
            background: {
              color: $color-grisclair2;
            }
          }
        }
      }
    }

    /* Color related */
    .color {
      &-name {
        display: block;
        color: $color-realBlack;
        font-family: $ff-roboto-bold;
        text-transform: $uc;

        @include media(">ipad") {
          font-size: 0.938rem;
          line-height: 1.35rem;
        }

        @include media("<=ipad", ">smart-phone") {
          font-size: 0.738rem;
          line-height: 1rem;
        }
      }

      &-code {
        display: block;
        color: $color-nero;

        @include media(">ipad") {
          font-size: 0.938rem;
          line-height: 1.35rem;
        }

        @include media("<=ipad", ">smart-phone") {
          font-size: 0.738rem;
          line-height: 1rem;
        }
      }
    }

    /* NGL block text container */
    &__text {
      /* Small container */
      &--small {
        @include media(">smart-phone") {
          margin: 0 auto;
          width: 100%;
          max-width: 420px;
        }
      }
    }

    /* Block header section title */
    &__header {
      /* Header with 70px bottom margin */
      &--marBtm70 {
        @include media(">laptop") {
          margin-bottom: 4.37rem;
        }

        @include media("<=laptop", ">ipad") {
          margin-bottom: 3.75rem;  
        }

        @include media("<=ipad", ">smart-phone") {
          margin-bottom: 2.5rem;  
        }

        @include media("<=smart-phone") {
          margin-bottom: 2rem;  
        }
      }

      /* Bottom margin 80px */
      &--marBtm80 {
        @include media(">laptop") {
          margin-bottom: 4.500rem;
        }

        @include media("<=laptop", ">ipad") {
          margin-bottom: 4rem; 
        }

        @include media("<=ipad", ">smart-phone") {
          margin-bottom: 3rem;  
        }

        @include media("<=smart-phone") {
          margin-bottom: 2rem;  
        }
      }
    }
  }

  &__grayscale-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zero-index;
  }

  /* Gridlayout post col */
  &-postCol {
    &__body {
      /* Post body under one third grid layout */
      .#{$ns}-block--gridLayout-oneThird & {
          @include media(">laptop") {
            padding: 2rem 2.5rem;  
          }

          @include media("<=laptop", ">ipad") {
            padding: 1.52rem 1.5rem;  
          }

          @include media("<=ipad", ">smart-phone") {
            padding: 1.25rem 0.75rem;  
          }

          @include media("<=smart-phone") {
            padding: 1rem 0;  
          }
      }

      /* Post body under one half grid layout */
      .#{$ns}-block--gridLayout-oneHalf & {
          @include media(">smart-phone") {
            padding: 2.938rem 2.5rem;
          }

          @include media("<=smart-phone") {
            padding: 1.50rem 0 1rem;
          }
      }

      h3 {
        .#{$ns}-block--gridLayout-oneHalf & {
          @include media(">smart-phone") {
            margin-bottom: 1.563rem;
          }

          @include media("<=smart-phone") {
            margin-bottom: 1rem;
          }
        }
      }
    }
  } /* /.#Gridlayout post col */
}