/* Defining style rules for footer of the theme */

.#{$ns} {

  /* Main Footer */
  &-footer {

    position: relative;
    background: url(#{$img-path}ft-bkg.jpg) $color-storm-grey;
    background: {
      repeat: no-repeat;
      position: center center;
      size: cover;
    };
    color: $color-white;

    @include media("<=smart-phone") {
      text-align: center;

      .#{$ns}-container {
        .#{$ns}-container {
          padding: 0 0 !important;
        }
      }
    }

    /* Footer top row with shortcodes components */

    .ipro-row--flexboxes__col {
      justify-content: center;
    }

    &__row--top {

      transition: all linear 0.35s;

      @include media(">desktop") {
        padding: 7.500rem 0 6.875rem;
      }

      @include media("<=desktop", ">laptop") {
        padding: 5rem 0 4rem;
      }

      @include media("<=laptop", ">smart-phone") {
        padding: 5rem 0 3rem;
      }

      @include media("<=smart-phone") {
        padding: 3rem 0;
      }
    }

    &__row--bottom {
      position: relative;
      z-index: $one-index;
      padding: 0.750rem 0 0.625rem;
      background: $color-charcoal;
      font-size: 0.875rem;
      color: $color-storm-grey2;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: -1000rem;
        content: "";
        width: 1000rem;
        height: 100%;
        background: $color-charcoal;
      }

      &::after {
        left: auto;
        right: -1000rem;
      }
    }

    /* Footer middle row with quick links */

    &__row--middle {
      padding: 2.000rem 0;
    }

    /* Footer middle row quick links */

    &__quickLink-group {
      margin: 0 -1.656rem;

      @include media(">smart-phone") {
        display: flex;
        justify-content: center;
      }

      li {
        position: relative;
        max-width: 100%; /* IE fix for long text */
        line-height: 1rem;

        @include media(">ipad") {
          padding: 0 1.656rem;
        }

        @include media("<=ipad", ">smart-phone") {
          padding: 0 1.56rem;
        }

        &:not(:last-of-type) {
          &::after {
            position: absolute;
            top: 50%;
            right: 0;
            content: "";
            background: $color-azure;
            width: 1px;
            height: 83%;
            transform: translateY(-50%);
          }

          @include media("<=smart-phone") {
            margin-bottom: 1rem;
          }
        }

        a {
          font-family: 'Roboto Lt';
          color: $color-azure;
          line-height: 1.125rem;

          &:hover {
            color: $color-charcoal;
          }

          @include media(">ipad") {
            font-size: 1.125rem;
          }

          @include media("<=smart-phone") {
            font-size: 1.05rem;
          }
        }
      }
    }

    &__copyright-group {
      margin: 0 -1.563rem;

      @include media(">smart-phone") {
        display: flex;
        justify-content: center;
      }

      li {
        position: relative;
        padding: 0 1.563rem;
        max-width: 100%; /* IE fix for long text */

        &:not(:last-of-type) {
          &::after {
            position: absolute;
            top: 50%;
            right: 0;
            content: "";
            margin-top: -1px;
            background: $color-storm-grey2;
            width: 4px;
            height: 1px;
          }
        }

        a {
          color: $color-storm-grey2;

          &:hover {
            color: $color-azure;
          }
        }
      }
    }
  }
}