/* Defining style rules for header of the theme */

##{$ns} {
  &-masthead {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $one-index + 5;
    //margin-top: 46px;
    background: $color-white;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
    transition: all linear 0.25s;

    .ipro-logo--col {

      @include media(">laptop") {
        justify-content: flex-start;
        width: 14.1%;
      }

      @include media("<=laptop", ">ipad") {
        justify-content: flex-start;
        width: 11.5%;
      }
    }

    .ipro-navigation--col {
      position: static;
      @include media(">laptop") {
        justify-content: flex-end;
        width: 85.9%;
        text-align: right;
      }

      @include media("<=laptop", ">ipad") {
        width: 88.5%;
        text-align: right;
      }
    }

    @include media("<=ipad") {
      .#{$ns} {
        &-header {
          &__row {
            position: relative;
            padding: 0.714rem 0;
          }
        }
      }
    }

    @include media("<=smart-phone") {
      //margin-top: 41px;
    }

    @include media(">ipad") {
      .ipro-header__row {
        position: relative;
        //top: 0;
        //right: 0;
        //left: 0;
        background: #ffffff;
      }
    }
  }
}

/* Defining style rules for top bar */

.#{$ns} {

  /* NGL - Theme Logo */
  &-logo__wrapper {
    img {
      transition: all ease-in-out 0.35s, width ease-in-out 0.35s;

      @include media("<=ipad", ">smart-phone") {
        width: 90px;
      }

      @include media("<=smart-phone") {
        width: 65px;
      }
    }
  }

  @include media("<=ipad") {

    /* NGL - Theme Mobile menu opener */

    &-navbar-header {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -11px;
      width: 35px;
    }

    &-navbar__toggler {
      display: block;

      .icon-bar {
        display: block;
        width: 35px;
        height: 4px;
        border-radius: 5px;
        background: $color-raven;
        transition: all ease-in-out 0.5s;

        + .icon-bar {
          margin-top: 5px;
        }
      }

      &.opener {

        .icon-bar {
          transform: rotate(140deg);
          transition: all ease-in-out 0.5s;

          &:first-of-type {
            position: relative;
            //top: 12px;
            top: 10px;
          }

          &:nth-of-type(2) {
            pointer-events: none;
            opacity: 0;
          }

          &:last-of-type {
            position: relative;
            //top: -6px;
            top: -8px;
            transform: rotate(40deg);
          }
        }
      }
    }
  }

  &-bar {
    /* List group */
    &__list {
      &-group {
        @include media("<=xs-phone", "portrait") {
          display: table;
          width: 100%;
          text-align: left;

          .#{$ns}-bar__item {
            &:not(:last-of-type) {
              width: 49%;
            }

            &--lang {
              position: absolute;
              top: 0;
              right: 15px;
            }
          }
        }
      }
    }

    /* Top bar itself */
    &--top {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      z-index: $higher-index + 1;
      /* padding: 5px 0 8px; */
      background: {
        color: $color-storm-grey;
      };
      text-align: right;
      letter-spacing: 0.35px;
      transition: all linear 0.25s;
      font-size: 1rem;
      /* min-height: 38px; */

      @include media("<=ipad") {
        z-index: $higher-index + 1;
      }
    }

    /* Top bar list item */

    &__item {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      float: none;

      &:not(:last-of-type) {
        @include media(">smart-phone") {
          padding-right: 2.500rem;
        }

        @include media("<=smart-phone") {
          padding-right: 2rem;
        }
      }

      /* Top lang icon */

      &--lang {

        @include media(">smart-phone") {
          padding-top: 12px;
          padding-bottom: 12px;
        }

        @include media("<=smart-phone") {
          padding-top: 9px;
          padding-bottom: 9px;
        }

        img {
          border: 2px solid $color-white;
        }
      }

      /* My account item */

      @include media("<=smart-phone") {
        &--account {
          position: static;
        }
      }
    }

    /* Top bar link */

    &__item &__link {
      position: relative;
      display: block;
      padding-left: 27px;
      color: $color-white;
      line-height: 1;

      &:hover,
      &:focus {
        color: $color-black;
      }

      /* Top bar account */

      &--account {

        @include media(">smart-phone") {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        @include media("<=smart-phone") {
          padding-top: 14px;
          padding-bottom: 14px;
        }
      }

      /* Top bar lang */

      &--lang {
        padding: 0px;
        width: 22px;
        height: 22px;
        border-radius: 50%;

        img {
          position: relative;
          top: 50%;
          left: 50%;
          max-height: none;
          max-width: none;
          width: 22px;
          height: 22px;
          transform: translate3d(-50%, -50%, 0);
        }

        @include media("<=smart-phone") {
        }
      }

      /* Top bar contact */

      &--contact {
        padding-left: 35px;
      }

      /* Icons */

      .icon {
        position: absolute;
        top: 50%;
        left: 0;
        width: 22px;
        text-align: left;
        transform: translateY(-50%);
        transition: none;

        /* My account icon */
        &.icon-my-account {
          font-size: 1.275rem;
        }

        /* Contact icon */
        &.icon-contact {
          font-size: 1.2rem;
        }
      }
    }
  }

  /* Top bar language dropdown */

  &-popup--lang {
    background: $color-palma;
    width: 50px;
    text-align: center;

    /* Top arrow */

    &.ipro-arrow--top {
      &::after {
        right: 10px;
        left: auto;
        margin: 0;
      }
    }

    .ipro-lang__item {
      line-height: 1;
      a {
        position: relative;
        display: inline-block;
        padding: 15px 0px;
        width: 22px;
        height: 22px;
        line-height: 1rem;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          max-height: none;
          max-width: none;
          width: 22px;
          height: 22px;
          transform: translate3d(-50%, -50%, 0);
        }
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid #435768;
      }
    }
  }

  /* Top bar my account */

  &-popup--myaccount {
    right: 15px;
    background: $color-white;
    color: $color-white;
    text-align: center;

    &:not(.logged-in) {
      @include media("<=smart-phone", "landscape") {
        width: 502px;
      }
    }

    &.logged-in {
      width: 251px;
    }

    @include media(">smart-phone") {
      width: 502px;      
    }

    @include media("<=smart-phone", "landscape") {
      left: 5rem;
      width: 100%;
      max-width: 502px;
    }

    @include media("<=smart-phone", "portrait") {
      right: 0px;
      left: 0px;
      width: auto;
    }

    @include media("<=phone") {
      right: 0px;
      left: 0px;
      width: auto;
    }

    @include media("<=smart-phone") {
      .ipro-flex {
        overflow: hidden;
      }

      .ipro-flex__col {
        margin-bottom: -100% !important;
        padding-bottom: 100% !important;

        > * {
          padding-bottom: 2.5rem;
        }
      }
    }

    /* Top arrow */

    &.ipro-arrow--top {
      &::after {
        right: 75px;
        left: auto;
        margin: 0;

        @include media("<=smart-phone", "portrait") {
          right: auto;
          left: 50%;
          margin: 0 0 0 -50px;
          border-bottom-color: $color-heather;
        }

        @include media("<=phone") {
          right: auto;
          left: 50%;
          margin: 0 0 0 -50px;
          border-bottom-color: $color-heather;
        }
      }
    }

    .ipro-flex__col {
      color: $color-white;
      text-align: center;

      @include media(">smart-phone") {
        padding: 2.188rem 2.750rem;   
      }

      @include media("<=smart-phone", "landscape") {
        padding: 2.188rem 2.750rem;
      }

      @include media("<=smart-phone", "portrait") {
        padding: 1rem 1rem;
      }
    }

    /* My account form */

    .ipro-myaccount__form-wrap {
      margin-top: 3.188rem;
      margin-bottom: 0.875rem;

      .ipro-form__control {
        font-style: italic;
      }

      .error {
        &:not(input) {
          font-size: 0.75rem;
        }
      }

      /* .ipro-form-control--submit {
        padding: 11px 20px;
      } */

      .ipro-form__group--submit {
        margin-top: 2.668rem;
      }
    }

    /* Forget password link style */

    .ipro-link--password {
      display: block;
      color: $color-storm-grey;
      font-size: 0.750rem;
      text-decoration: underline;
      line-height: 1rem;

      &:hover {
        color: $color-palma;
      }
    }

    /* My account desc */

    .ipro-myaccount__desc-wrap {
      font-size: 1rem;
      line-height: 1.250rem;

      @include media(">smart-phone") {
        margin: 3.625rem 0 2.625rem;
      }

      @include media("<=smart-phone") {
        margin: 4.450rem 0 2.625rem;
      }
    }
  }
}