/* Defining style rules for hero banner section available on pages of the theme */

/* Style rules for section with background/cover */

[data-section-bkg="true"],
[data-col-type="image"] {

  @include media(">ipad") {
    background: {
      repeat: no-repeat !important;
      size: cover !important;
    }
  }

  @include media("<=ipad") {
    background: {
      repeat: no-repeat !important;
      position: center center !important;
      size: cover !important;
    }
  }
}

/* Style rules for section with background/cover as well as parallax effect */

[data-parallax="true"] {
  @include media(">ipad") {
    /* background: {
      attachment: fixed !important;
      size: 100% 52% !important;
    }; */
    background: {
      position: 50% 0;
    };
  }

  @include media("<=ipad") {
    + * {
      margin-top: 0 !important;
    }
  }
}

/* Home page hero banner */

.#{$ns} {
  &-slider {
    background: $color-azure;

    &:hover {
      [class*="swiper-button"] {
        pointer-events: auto;
        opacity: 1;
        transform: translateX(0) !important;

        &.swiper-button-disabled {
          opacity: 0.35;
        }
      }
    }
    /* Slider in progress before initialization */
    &--loading {
      //padding-bottom: percentage(658 / 1903);
    }

    /* Slider slides */
    &__slide {
      opacity: 0 !important;
      transition: all linear 2.5s;
      transition-duration: 0.8s !important;

      &.swiper-slide-active {
        opacity: 1 !important;
      }

      @include media(">smart-phone") {
        overflow: hidden;

        &::after {
          content: "";
          display: block;
          padding-bottom: percentage(658 / 1903);
        }

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      img {

        //@include media("<=smart-phone") {
        //  position: relative;
        //  left: 50%;
        //  width: auto;
        //  max-width: none;
        //  max-height: none;
        //  height: 280px;
        //  transform: translateX(-50%);
        //  transition: all linear 0.35s;
        //}
        //
        //@include media("<=phone") {
        //  height: 200px;
        //}
      }
    }

    /* Slider caption */
    &__caption {

      transition: all linear 0.35s;

      @include media(">smart-phone") {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin: 0 auto;
        -webkit-font-smoothing: subpixel-antialiased;
        backface-visibility: hidden;
        transform: translateY(-50%) translateZ(0);
      }

      @include media(">ipad") {
        max-width: 775px;
      }

      @include media("<=ipad", ">smart-phone") {
        max-width: 500px;
      }

      @include media("<=smart-phone") {
        padding: 3rem 0.938rem 7rem;
        background: $color-zumthor;
      }

      h6 {
        margin-right: auto;
        margin-left: auto;
        max-width: 500px;
      }

      .btn--large {
        font-family: $ff-museo-500;
      }
    }

    [class*="swiper-button"] {
      pointer-events: none;
      opacity: 0;
      width: 2.5rem;
      height: 2.5rem;
      transition: all linear 0.35s;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: "";
        display: block;
        border-style: solid;
        border-width: 0.15em 0.15em 0 0;
      }

      &.swiper-button-prev {
        transform: translateX(100px);
        &::before {
          transform: rotate(-135deg);
        }
      }

      &.swiper-button-next {
        transform: translateX(-100px);
        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }
}