/* Defining style rules for navigation of the theme */

.#{$ns} {
  &-nav {
    //font-size: $base-font-size;

    &--mobile {

      @include media(">ipad") {
        display: block !important;
      }

      @include media("<=ipad") {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $higher-index;
        overflow-x: hidden;
        overflow-y: auto;
        display: none;
        background: $color-white;
        border-top: 1px solid $color-zumthor;

        /* Mobile submenu control UI */

        .opener-item {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: auto;
          z-index: $higher-index + 4;
          display: block;
          background: $color-raven;
          border: 1px solid #666666;
          border-right: 0;
          cursor: pointer;
          transition: all ease-in-out 0.35s;

          &::before,
          &::after {
            position: absolute;
            top: 50%;
            left: 0;
            content: "";
            display: block;
            width: 15px;
            height: 3px;
            background: #ffffff;
            right: 0;
            margin: -2px auto 0 auto;
            border-radius: 5px;
            transition: all ease-in-out 0.5s;
          }

          &.opener {
            &::after {
              width: 15px;
              transform: rotate(90deg);
              transition: all ease-in-out 0.5s;
            }
          }
        }
      }

      @include media("<=ipad", ">smart-phone") {
        top: 120px;

        .opener-item {
          width: 56px;
          height: 56px;
        }
      }

      @include media("<=smart-phone") {
        top: 99px;

        .opener-item {
          width: 47px;
          height: 47px;
        }
      }
    }
  }

  &-menu--main-group {

    @include media(">ipad") {
      /* display: table;
      width: 100%;
      font-size: 0; */

      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    > li {
      line-height: $reset-lheight;

      @include media(">ipad") {
        display: inline-block;
        vertical-align: middle;
      }

      @include media("<=ipad") {
        position: relative;
      }

      &.has-megamenu {
        a {
          color: $color-raven;
        }

        > a {

          @include media(">ipad") {
            position: relative;
            color: $color-raven;

            &::after {
              position: absolute;
              bottom: 1px;
              left: 50%;
              opacity: 0;
              content: "";
              display: block;
              width: 0;
              height: 0;
              border-bottom: 15px solid $color-azure;
              border-right: 15px solid transparent;
              border-left: 15px solid transparent;
              transform: translateX(-50%) translateY(-5px);
              transition: all ease-in-out 0.35s;
            }
          }
        }
      }

      &.hover-on {
        > a {
          color: $color-zumthor;

          &::after {
            opacity: 1;
            transform: translateX(-50%) translateY(0px);
          }
        }

        li {
          a {
            &:hover {
              color: $color-zumthor;
            }
          }
        }
      }

      &:last-of-type {
        a {
          padding-right: 0;
        }
      }

      a {
        &:hover {
          color: $color-zumthor;
        }
      }

      > a {
        position: relative;
        z-index: $higher-index;
        display: block;
        color: $color-storm-grey;
        line-height: $reset-lheight;
        transition: padding linear 0.35s, color ease-in-out 0.35s;

        @include media(">laptop") {
          padding: 2.938rem 1.250rem;
          font-size: $base-font-size;
        }

        @include media("<=laptop", ">ipad") {
          padding: 2.188rem 1.125rem;
          font-size: 1.125rem;
        }

        @include media("<=ipad") {
          border-bottom: 1px solid $color-zumthor;
          font-size: 1.250rem;
        }

        @include media("<=ipad", ">smart-phone") {
          padding: 1.429rem 1.071rem;
        }

        @include media("<=smart-phone") {
          padding: 1.25rem 0.938rem;
        }
      }
    }
  }

  /* Menu list with megamenu */

  @include media(">ipad") {

  }

  &.has-megamenu {
  }

  /* Mega menu */

  &-menu__submenu {

    @include media(">ipad") {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      overflow: hidden;
      display: block !important;
      padding: 1.500rem 0;
      background: $color-white;
      color: $color-raven;
      font-size: 1.563rem;
      font-family: $ff-museo-500;
      line-height: 2rem;
      transform: translateY(20px);
      transition: all linear 0.35s;
    }

    /* Psuedo code property to add vertical line */

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      content: "";
      display: block;
      margin-left: -16px;
      width: 1px;
      height: 100%;
      background: $color-zumthor;
    }

    @include media("<=ipad") {
      position: relative;
      overflow: hidden;
      display: none;
      padding: 1.786rem 0;
      border-bottom: 1px solid $color-zumthor;

      .ipro-flex {
        //opacity: 0;
        //transform: translateY(15px);
        //transition: all ease-in-out 1s;
      }

      &.animate {

        .ipro-flex {
          //opacity: 1;
          //transform: translateY(0%);
        }
      }

      /* Submenus pictos */
      &-list {
        a {
          .ipro-valign--middle {
            width: 4rem;
          }
        }
      }
    }

    @include media("<=smart-phone") {
      &::before {
        display: none;
      }
    }

    /* Active mega menu / dropdown */

    &.panel-active {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &-flex__col {
    > * {
      /* width: 100%; */

      .has-megamenu--style2 & {
        text-align: left;
      }
    }
  }

  &-flex__col {

    .ipro-menu__submenu & {
      //color: $color-regent;
      line-height: 1.563rem;

      @include media(">laptop") {
        font-size: 1.125rem;
      }

      @include media("<=laptop", ">ipad") {
        font-size: 1.00rem;
      }

      @include media("<=ipad", ">smart-phone") {
        font-size: 0.938rem;
      }

      @include media(">smart-phone") {
        display: flex;
      }
    }

    p {
      font-family: 'Roboto Rg';
    }

    .has-megamenu--style1 & {
      > * {

        @include media(">laptop") {
          padding: 0 2.000rem;
        }

        @include media("<=laptop", ">ipad") {
          padding: 0 1.625rem;
        }
      }

      &:first-of-type {
        > * {
          @include media("<=ipad", ">smart-phone") {
            padding-right: 1.125rem;
          }
        }
      }
    }

    &:last-of-type {
      .has-megamenu--style1 & {
        > * {

          @include media(">smart-phone") {
            display: -webkit-box;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
          }

          @include media(">laptop") {
            padding-left: 5.313rem;
          }

          @include media("<=laptop", ">ipad") {
            padding-left: 3.125rem;
          }

          @include media("<=ipad", ">smart-phone") {
            padding-left: 1.125rem;
          }
        }
      }
    }

    .has-megamenu--style2 & {

      @include media(">smart-phone") {
        padding-top: 2.188rem;
        padding-bottom: 1.6rem;

        &:first-of-type {
          padding-right: 5.000rem;
        }

        &:last-of-type {
          padding-left: 4.063rem;
        }
      }
    }

    /* Mega menu style 2 */

    .has-megamenu--style2 & {
      .row--submenu {
        margin: 0 -19px;

        > [class*="col"] {

          @include media(">laptop") {
            padding: 0 19px;
          }

          @include media("<=laptop") {
            padding: 0 15px;
          }

          &:first-of-type {
            width: 28%
          }

          &:last-of-type {
            width: 72%
          }
        }
      }
    }
  }

  &-flex__col {
    .ipro-menu__submenu-list {

      @include media(">smart-phone") {
        align-self: flex-start;
        max-width: 100%;
      }
      > li {
        @include media(">smart-phone") {
          display: flex;
        }
        &:not(:last-of-type) {
          margin-bottom: 0.625rem;
        }
      }
    }
  }

  &-menu__submenu-list {
    li {
      > a {
        display: flex;
        align-items: center;

        @include media(">laptop") {
          font-size: 1.563rem;
        }

        @include media("<=laptop", ">ipad") {
          font-size: 1.375rem;
        }

        @include media("<=ipad", ">smart-phone") {
          font-size: 1.250rem;
        }
      }

      span {
        display: block;
        margin-left: 1.500rem;
        max-width: 100%;
      }
    }
  }

  /* Mega menu bottom footer group */

  &__submenu__logo-group {

    margin: 0 -15px;
    @include media(">smart-phone") {
      align-self: flex-end;
      display: flex;
    }

    li {
      padding: 0 15px;
      width: 33.33333%;

      @include media(">smart-phone") {
        display: inline-block;
        vertical-align: middle;
      }

      @include media("<=smart-phone") {
        float: left;
      }
    }

    @include media("<=smart-phone") {
      margin-top: 1.429rem;
    }
  }
}