::-moz-selection { background: #eb3f33; color: #fff }
::selection { background: #eb3f33; color: #fff }
p::-moz-selection { color: #fff}
p::selection { color: #fff; }

.clear-both {
	clear: both;
}



@media (max-width:1024px){
	.nav-mobile {
		transform: translateY(60px);
		top:0;
		left: 0;
		opacity:0;
		visibility: hidden;
	}
	.nav-mobile.visible {
		top: 0;
		opacity:1;
		visibility: visible;
		transform: translateY(70px);
	}
	.nav-mobile ul {
		border-bottom: none
	}

	.nav-mobile li {
		border-top: solid 1px #b72318;
		
	}
	.nav-mobile a{
		padding: 5px 10px;
	}
}	


.btn-menu--open {
	top: 29px
	
}
.btn-menu {
	cursor: pointer;
	right: 7px;
 
	position: fixed; /*......for menu close.....*/
	z-index: 10
}
.btn-menu span {
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background: #f1565d;
    transition: all ease-in-out 0.35s;
}

.btn-menu--open span {
    transform: rotate(140deg);
    transition: all ease-in-out 0.35s;
}

.btn-menu--open span:nth-of-type(2) {
    pointer-events: none;
    opacity: 0;
}

.btn-menu--open span:last-of-type {
    position: relative;
    top: -20px;
    transform: rotate(40deg);
}

.inner-page {
	padding-top: 45px;margin-top: 1px;
}



.inner-page .section-head{
	padding-top: 45px;
}

.arrow-active--dir__left { background-image: url(images/sprite/arrow--dir__left.png); background-size:100% 100%; margin-right: 15px; vertical-align: middle;}
.btn:hover .arrow-active--dir__left { background-image: url(images/sprite/arrow--dir__left-hover.png); background-size:100% 100%;}

.team-testimonials { clear: both; /*overflow: auto;*/ }

.team-testimonials .testimonial {float: left; margin:20px 0;}

@media(min-width:1024px){
	.team-testimonials{ margin-left: -60px;margin-right: -60px; /*overflow: auto;*/ }

	.team-testimonials .testimonial { 
		width: 33.33%;  
		margin:40px 0; 
		padding: 0 20px;
	}
}

/*@media(min-width:1024px){*/
	/*.team-testimonials .testimonial { */
		/*padding: 0 90px;*/
	/*}*/
/*}*/

/*ADDED by ranjita*/
@media(min-width:1025px){
    .team-testimonials .testimonial {
        padding: 0 60px;
    }
}

@media(max-width:1024px){
    .team-testimonials .testimonial {
        padding: 0 30px;
    }
}
/*............*/

.marques__group {
	width:100%;
	clear: both;
	overflow: hidden;
	margin-bottom: 50px;
}
.marques__list {
	width:20%;
	float: left;
	text-align: center;
	height:  90px;
	padding: 0 0.5%;
	margin-bottom: 35px;
}

.marques__list img {
	height: 80%;
}

@media(max-width: 1024px){
	.marques__list {
		width: 50%;
		margin-bottom: 35px;
	}
}


/*CSS ADDED BY RANJITA*/

/*@media (max-width:769px){
	.nav-mobile li:first-child{display: none;}
}*/


