/* 
	Table of Contents

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	     03. Fonts ------------------------------------
	     04. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Text vertcal center ----------------------
	         Disabled ---------------------------------
	         Grid -------------------------------------
	         Responsive Helpers -----------------------
	II.  Regions --------------------------------------
	     01. Container --------------------------------
	     02. Content ----------------------------------
	     03. Footer -----------------------------------
	     04. Header -----------------------------------
	     05. Main -------------------------------------
	     06. Shell ------------------------------------
	     07. Sidebar ----------------------------------
	     08. Wrapper ----------------------------------
	III. Modules --------------------------------------
	     01. Bar --------------------------------------
	     02. Button -----------------------------------
	         Button Block -----------------------------
	     03. Btn Menu ---------------------------------
	     04. Category ---------------------------------
	     05. Form Elements ----------------------------
	     06. Form -------------------------------------
	     07. Form Contact -----------------------------
	     08. Intro ------------------------------------
	     09. Link -------------------------------------
	     10. List -------------------------------------
	     11. List Features ----------------------------
	     12. List Share -------------------------------
	     13. Logo -------------------------------------
	     14. Nav --------------------------------------
	     15. Nav Access -------------------------------
	     16. Nav Lang ---------------------------------
	     17. Nav Footer -------------------------------
	     18. Nav Mobile -------------------------------
	     19. Number -----------------------------------
	     20. Popover ----------------------------------
	     21. Section (Global) -------------------------
	     22. Section Message --------------------------
	     23. Section Services -------------------------
	     24. Section Features -------------------------
	     25. Section Cegories -------------------------
	     26. Section Testimonials ---------------------
	     27. Section Contacts -------------------------
	     28. Service ----------------------------------
	     29. Slider -----------------------------------
	     30. Slider Testimonials ----------------------
	     31. Socials ----------------------------------
	     32. Table ------------------------------------
	     33. Testimonial ------------------------------
	     34. Widget -----------------------------------
 */

.arrow-active { background-image: url(images/sprite.png); background-position: 91.40127388535032% 58.108108108108105%; background-size: 1670% 1685.7142857142858%; width: 20px; height: 14px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-arrow { background-image: url(images/sprite.png); background-position: 94.04388714733543% 74.77876106194691%; background-size: 2226.6666666666665% 2360%; width: 15px; height: 10px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-arrow-hover, a:hover .ico-arrow, button:hover .ico-arrow, a.hover .ico-arrow, button.hover .ico-arrow, .ico-arrow.hover { background-image: url(images/sprite.png); background-position: 99.37304075235109% 69.02654867256636%; background-size: 2226.6666666666665% 2360%; width: 15px; height: 10px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-bag { background-image: url(images/sprite.png); background-position: 100% 0%; background-size: 710.6382978723404% 374.6031746031746%; width: 47px; height: 63px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-envelope { background-image: url(images/sprite.png); background-position: 95.59748427672956% 64.12556053811659%; background-size: 2087.5% 1815.3846153846152%; width: 16px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-envelope-hover, a:hover .ico-envelope, button:hover .ico-envelope, a.hover .ico-envelope, button.hover .ico-envelope, .ico-envelope.hover { background-image: url(images/sprite.png); background-position: 90.25157232704403% 69.95515695067265%; background-size: 2087.5% 1815.3846153846152%; width: 16px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-facebook { background-image: url(images/sprite.png); background-position: 88.03680981595092% 82.88288288288288%; background-size: 4175% 1685.7142857142858%; width: 8px; height: 14px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-facebook-hover, a:hover .ico-facebook, button:hover .ico-facebook, a.hover .ico-facebook, button.hover .ico-facebook, .ico-facebook.hover { background-image: url(images/sprite.png); background-position: 90.49079754601227% 82.88288288288288%; background-size: 4175% 1685.7142857142858%; width: 8px; height: 14px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-linkedin { background-image: url(images/sprite.png); background-position: 100% 64.12556053811659%; background-size: 2385.714285714286% 1815.3846153846152%; width: 14px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-linkedin-hover, a:hover .ico-linkedin, button:hover .ico-linkedin, a.hover .ico-linkedin, button.hover .ico-linkedin, .ico-linkedin.hover { background-image: url(images/sprite.png); background-position: 94.6875% 69.95515695067265%; background-size: 2385.714285714286% 1815.3846153846152%; width: 14px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-medicine { background-image: url(images/sprite.png); background-position: 79.92700729927007% 60.33519553072626%; background-size: 556.6666666666666% 414.0350877192983%; width: 60px; height: 57px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-mobile-phone { background-image: url(images/sprite.png); background-position: 26.73992673992674% 60.91954022988506%; background-size: 547.5409836065575% 380.6451612903226%; width: 61px; height: 62px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-phones { background-image: url(images/sprite.png); background-position: 49.08424908424908% 60.57142857142858%; background-size: 547.5409836065575% 386.88524590163934%; width: 61px; height: 61px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-plane { background-image: url(images/sprite.png); background-position: 82.33082706766918% 0%; background-size: 491.1764705882353% 462.74509803921575%; width: 68px; height: 51px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-robot { background-image: url(images/sprite.png); background-position: 0% 65.03067484662577%; background-size: 457.5342465753424% 323.28767123287673%; width: 73px; height: 73px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-rolers { background-image: url(images/sprite.png); background-position: 79.92700729927007% 28.49162011173184%; background-size: 556.6666666666666% 414.0350877192983%; width: 60px; height: 57px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-share { background-image: url(images/sprite.png); background-position: 89.40809968847351% 76.47058823529412%; background-size: 2569.2307692307695% 1573.3333333333333%; width: 13px; height: 15px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-tools { background-image: url(images/sprite.png); background-position: 98.9655172413793% 37.05882352941177%; background-size: 759.0909090909091% 357.57575757575756%; width: 44px; height: 66px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter { background-image: url(images/sprite.png); background-position: 96.84542586750788% 57.847533632286996%; background-size: 1964.7058823529412% 1815.3846153846152%; width: 17px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter-hover, a:hover .ico-twitter, button:hover .ico-twitter, a.hover .ico-twitter, button.hover .ico-twitter, .ico-twitter.hover { background-image: url(images/sprite.png); background-position: 90.53627760252367% 64.12556053811659%; background-size: 1964.7058823529412% 1815.3846153846152%; width: 17px; height: 13px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-world { background-image: url(images/sprite.png); background-position: 0% 100%; background-size: 585.9649122807017% 414.0350877192983%; width: 57px; height: 57px; display: inline-block; vertical-align: middle; font-size: 0; }
.logo-footer { background-image: url(images/sprite.png); background-position: 0% 0%; background-size: 152.51141552511416% 445.2830188679245%; width: 219px; height: 53px; display: inline-block; vertical-align: middle; font-size: 0; }
.logo { background-image: url(images/sprite.png); background-position: 0% 28.96174863387978%; background-size: 152.51141552511416% 445.2830188679245%; width: 219px; height: 53px; display: inline-block; vertical-align: middle; font-size: 0; }
.select-arrow { background-image: url(images/sprite.png); background-position: 98.13084112149532% 73.7991266375546%; background-size: 2569.2307692307695% 3371.4285714285716%; width: 13px; height: 7px; display: inline-block; vertical-align: middle; font-size: 0; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.ico-bag { background-image: url(images/sprite.@2x.png); background-position: 100% 0%; background-size: 710.6382978723404% 374.6031746031746%; width: 47px; height: 63px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-medicine { background-image: url(images/sprite.@2x.png); background-position: 79.92700729927007% 28.49162011173184%; background-size: 556.6666666666666% 414.0350877192983%; width: 60px; height: 57px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-mobile-phone { background-image: url(images/sprite.@2x.png); background-position: 26.73992673992674% 60.91954022988506%; background-size: 547.5409836065575% 380.6451612903226%; width: 61px; height: 62px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-phones { background-image: url(images/sprite.@2x.png); background-position: 49.08424908424908% 60.57142857142858%; background-size: 547.5409836065575% 386.88524590163934%; width: 61px; height: 61px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-plane { background-image: url(images/sprite.@2x.png); background-position: 82.33082706766918% 0%; background-size: 491.1764705882353% 462.74509803921575%; width: 68px; height: 51px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-robot { background-image: url(images/sprite.@2x.png); background-position: 0% 65.03067484662577%; background-size: 457.5342465753424% 323.28767123287673%; width: 73px; height: 73px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-rolers { background-image: url(images/sprite.@2x.png); background-position: 79.92700729927007% 60.33519553072626%; background-size: 556.6666666666666% 414.0350877192983%; width: 60px; height: 57px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-share { background-image: url(images/sprite.@2x.png); background-position: 89.40809968847351% 58.371040723981906%; background-size: 2569.2307692307695% 1573.3333333333333%; width: 13px; height: 15px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-tools { background-image: url(images/sprite.@2x.png); background-position: 98.9655172413793% 37.05882352941177%; background-size: 759.0909090909091% 357.57575757575756%; width: 44px; height: 66px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-world { background-image: url(images/sprite.@2x.png); background-position: 0% 100%; background-size: 585.9649122807017% 414.0350877192983%; width: 57px; height: 57px; display: inline-block; vertical-align: middle; font-size: 0; }
	.logo-footer { background-image: url(images/sprite.@2x.png); background-position: 0% 28.96174863387978%; background-size: 152.51141552511416% 445.2830188679245%; width: 219px; height: 53px; display: inline-block; vertical-align: middle; font-size: 0; }
	.logo { background-image: url(images/sprite.@2x.png); background-position: 0% 0%; background-size: 152.51141552511416% 445.2830188679245%; width: 219px; height: 53px; display: inline-block; vertical-align: middle; font-size: 0; }}
.cols:after,
.grid:after,
.footer-cols:after,
.header-inner:after,
.section-message .section-inner:after { content: ''; line-height: 0; display: table; clear: both; }
/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }
html { tap-highlight-color: rgba(0,0,0,0); }
body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }
img,
iframe,
video,
audio,
object { max-width: 100%; }
img,
iframe { border: 0 none; }
img { height: auto; display: inline-block; vertical-align: middle; }
b,
strong { font-weight: bold; }
address { font-style: normal; }
svg:not(:root) { overflow: hidden; }
a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }
a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }
button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
button,
select { text-transform: none; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
nav ul,
nav ol { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body { min-width: 320px; background: #fff; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 17px; line-height: 1.3; color: #3a3e40; overflow-x:hidden; }
a { color: inherit; text-decoration: underline; }
a:hover { text-decoration: none; }
a[href^="tel"] { text-decoration: none; }
h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.65em; }
h1 { font-size: 72px; }
h2 { font-size: 48px; letter-spacing: -0.025em; }
h3 { font-size: 30px; /* ? */}
h4 { font-size: 26px; }

h5 { font-size: 23px; }
h6 { font-size: 17px; }
p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.3em; }
p { line-height:1.6; letter-spacing: 0.03em; }
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }
@media (max-width: 1023px) {
	body { font-size:14px; }

	p { line-height:1.3; }

	h1 { font-size:50px; }
	h2 { font-size:40px; }
	h3 { font-size:28px; }
	h4 { font-size:22px; }
	h5 { font-size:20px; }
	h6 { font-size:14px; }
}
/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */
/*  Clear  */
.clear:after { content: ''; line-height: 0; display: table; clear: both; }
/*  Notext  */
.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }
/*  Hidden  */
[hidden],
.hidden { display: none; }
/*  Alignleft  */
.alignleft { float: left; }
/*  Alignright  */
.alignright { float: right; }
/* Text vertcal center */
.text { display: inline-block; vertical-align: middle; }
/*  Disabled  */
[disabled],
.disabled { cursor: default; }
/*  Grid  */
.cols { margin: 0 -13px; }
.cols:after { }
.col { float: left; width: 100%; padding: 0 13px; }
.col-1of2 { width: 50%; }
.grid:after { }
.grid-item { float:left; position: relative; list-style:none; list-style-position: outside; }
.grid-2-cols .grid-item { width: 50%; padding-bottom:25%; }
.grid-3-cols .grid-item { width: 33.3%; padding-bottom:33.3%; }
@media (max-width: 769px) {
	.grid-2-cols .grid-item { width: auto; float:none; padding-bottom:50%; }
	.grid-3-cols .grid-item { width: 50%; padding-bottom:50%; }

	.col { width: auto; float:none; }
}
/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }
@media (max-width: 769px) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}
@media (min-width: 1201px) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}
.select2-container .select2-selection--single { height: 46px; background: rgba(255,255,255, .2); border:0; color: #fff; border-radius: 0px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height:46px; background:transparent; color: #fff; padding: 0 70px 0 25px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 46px; width: 60px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b { border:0; margin: -3px 0 0 -7px; width: 13px; height: 7px; background: url(images/select-arrow.png) no-repeat 0 0; }
.select2-container { width: 100% !important; }
/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
.container {}
/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */
.content {}
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer { background:#272727; color: #999; padding: 84px 0 50px 0; overflow: hidden; }
.footer h6 { margin-bottom:30px; }
.footer-aside { float:left; width: 406px; }
.footer-content { overflow: hidden; padding-top:10px; }
.footer-inner { margin-bottom:60px; }
.footer-cols:after { }
.footer-col { float:left; width: 33.3%; }
.footer-col:nth-child(1) { width: 37%}
.footer-col:nth-child(2) { width: 37.5%; }
.footer-col:nth-child(3) { width: 25.5%; }
.footer-bar { text-align:center; }
.footer .copyright { margin-top:24px; }
@media (max-width: 1023px) {
	.footer { padding-top:50px; }
	.footer-aside { width: auto; float:none; margin-bottom:40px; }
}
@media (max-width: 769px) {
	.footer-col { width: auto; float:none; }
	.footer h6 { margin-bottom:10px; margin-top:30px; }
}
/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header { background:#fff; padding-bottom:24px; }
.header .shell { position: relative; }
.header-inner:after { }
@media (max-width: 769px) {
	.header { padding: 10px 0; }
}
/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main {}
/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.shell { max-width: 1292px; padding-left: 10px; padding-right: 10px; margin: auto; }
.shell-fluid { max-width: none; }
/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
.sidebar {}
/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper { min-height: 100vh; overflow: hidden; }
/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Bar
\* ------------------------------------------------------------ */
.bar { text-align:right; color: #999999; font-size:14px; padding: 4px 0 0 0; }
@media (max-width: 769px) {
	.bar { padding-bottom:20px; display:none; }
}
/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer;
	background-color:#eb3f33; color: #fff; text-decoration: none; padding: 12px 20px; border-radius: 20px; letter-spacing: 0.03em; border:0; cursor: pointer; border:1px solid #eb3f33; 
	transition: all .3s; 
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}
.btn:hover { background-color:transparent; color: #eb3f33; }
/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }
.btn-share { width: 40px; height: 40px; border:1px solid #eb3f33; border-radius: 50%; text-align:center; line-height:38px; }
.btn-white { background:#fff; color: #eb3f33; }
.btn-white:hover { color: #fff; border-color: #fff; }
/* ------------------------------------------------------------ *\
	Btn Menu
\* ------------------------------------------------------------ */
.btn-menu { width: 40px; position: absolute; top:20px; right:20px; display:none; }
.btn-menu span { display:block; border-top:5px solid #eb3f33; margin-top:5px; }
@media (max-width: 1024px) {
	.btn-menu { display:block; }
}
/* ------------------------------------------------------------ *\
	Category
\* ------------------------------------------------------------ */
.category { position: absolute; top:0; left:0; width: 100%; height: 100%; }
.category .category-image { position: absolute; top:0; left:0; width: 100%; height: 100%; background-repeat: no-repeat; background-position:50% 50%; }
.category .category-body { position: absolute; bottom:0; left:0; width: 100%; z-index: 1; color: #fff; padding: 67px 70px; }
@media (max-width: 769px) {
	.category .category-body { padding: 10px 20px; }
}
/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */
input::-webkit-input-placeholder { color: inherit; opacity: 1; }
input::-moz-placeholder { color: inherit; opacity: 1; }
input:-ms-input-placeholder { color: inherit; opacity: 1; }
input::placeholder { color: inherit; opacity: 1; }
textarea::-webkit-input-placeholder { color: inherit; opacity: 1; }
textarea::-moz-placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }
input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
.field { display:block; width: 100%; border:0; background: rgba(255,255,255, .2); padding: 13px 25px; color: #fff; font-size:17px; }
.textarea { resize: none; }
.select { display:block; width: 100%; border:0; background: rgba(255,255,255, .2); padding: 13px 25px; color: #fff; font-size:17px; }
.radio {}
.checkbox {}
.form-row { margin-bottom:24px; }
/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */
.form {}
/* ------------------------------------------------------------ *\
	Form Contact
\* ------------------------------------------------------------ */
.form-contact { padding-right:80px; }
.form-contact .form-body { padding-bottom:20px; }
@media (max-width: 1023px) {
	.form-contact { padding-right:0; }
}
@media (max-width: 769px) {
	.form-contact { padding-bottom:40px; }
}
/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */
.intro { position: relative; overflow: hidden; padding-bottom:56.5%; color: #fff; }
.intro .intro-bg { position: absolute; top:0; left:0; width: 100%; height: 100%; }
.intro .intro-inner { position: absolute; z-index: 1; top:0; left:0; width: 100%; height: 100%; z-index: 2; }
.intro .intro-inner:before { content:''; position: absolute; bottom:0; right:0; width: 1870px; height: 657px; background: url(images/stats.png) no-repeat right bottom; }
.intro .intro-title { margin-top:187px; letter-spacing: -0.05em; line-height:1.2; margin-bottom:20px; }
.intro .intro-actions { padding-top:60px; }
.intro .intro-content { position: relative; z-index: 4;  }
@media (max-width: 1400px) {
	.intro .intro-inner:before { background-size: 935px 328px; width: 935px; height: 328px; }
	.intro .intro-title { margin-top:100px; }
}
@media (max-width: 1023px) {
	.intro .intro-inner:before { right:-100px; bottom:-20px; }
	.intro .intro-title { margin-top:30px; }
}
@media (max-width: 769px) {
	.intro .intro-inner:before { display:none; }

	.intro .intro-title { line-height:1; margin-bottom:10px; font-size:26px; /*margin-top:10px;*/ margin-top:70px;}
	.intro .intro-actions { padding-top:0; }
}
/* ------------------------------------------------------------ *\
	Link
\* ------------------------------------------------------------ */
.link { color: #eb3f33; display: inline-block; vertical-align: middle; text-decoration: none; }
.link .text { margin-left:15px; }
.link:hover .text { text-decoration: underline; }
/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */
[class^="list-"] { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	List Features
\* ------------------------------------------------------------ */
.list-features { overflow: hidden; color: #fff; }
.list-features li { float:left; width: 33.3%; min-height: 180px; position: relative; padding-left:60px; }
.list-features i { float:left; position: absolute; top:0; left:0; }
.list-features h5 { display:block; margin: 0; overflow: hidden; padding:22px 0 0 28px; }
@media (max-width: 769px) {
	.list-features li { width: 50%; }
}
@media (max-width: 479px) {
	.list-features li { width: 100%; min-height: 0; margin-bottom:50px; }
}
/* ------------------------------------------------------------ *\
	List Share
\* ------------------------------------------------------------ */
.list-share { padding: 20px; background:#fff; }
.list-share:before { content:''; position: absolute; top:-8px; left:50%; border-left:8px solid transparent; border-right:8px solid transparent; border-bottom:8px solid #fff; margin-left:-8px; }
.list-share li + li { padding-top:10px; }
.list-share li a { display:block; width: 40px;  height: 40px; border-radius: 50%; border:1px solid #eee; text-align:center; line-height:38px; 
     transition: all .3s; }
.list-share li a:hover { background-color:#eb3f33; color: #fff; }
/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
.logo { float:left; }
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
.nav { float:right; color: #3a3e40; padding-top:14px; }
.nav li { padding-left:23px; display: inline-block; vertical-align: middle; }
.nav a { text-decoration: none; display: inline-block; vertical-align: middle; letter-spacing: 0.03em; }
.nav a:hover { text-decoration: underline; }

.brands-page .nav .current-menu-item a{color: #f33a28;}

@media (max-width: 1024px) {
	.nav { float:none; clear: both; }
	.nav li { padding-left:0; padding-right:20px; }
}
@media (max-width: 1024px) {
	.nav { display:none; }
}
/* ------------------------------------------------------------ *\
	Nav Access
\* ------------------------------------------------------------ */
.nav-access { display: inline-block; vertical-align: middle; letter-spacing: 0.03em; margin-right:10px; }
.nav-access li { display: inline-block; vertical-align: middle; }
.nav-access a { text-decoration: none; }
.nav-access a i { margin-right:10px; }
.nav-access a:hover { color: #eb3f33; }
@media (max-width:1024px) {
	.nav-access { display:none; }
}
/* ------------------------------------------------------------ *\
	Nav Lang
\* ------------------------------------------------------------ */
.nav-lang { display: inline-block; vertical-align: middle; font-size:14px; margin-right:6px; letter-spacing: 0.03em; }
.nav-lang li { display: inline-block; vertical-align: middle; }
.nav-lang a { text-decoration: none; display: inline-block; vertical-align: middle; }
.nav-lang a:hover { color: #eb3f33; }
@media (max-width: 1024px) {
	.nav-lang { display:none; }
}
/* ------------------------------------------------------------ *\
	Nav Footer
\* ------------------------------------------------------------ */
.nav-footer { padding-top:5px; }
.nav-footer li { list-style:none; list-style-position: outside; margin-bottom:6px; }
.nav-footer a { text-decoration: none; 
     transition: all .3s; }
.nav-footer a:hover { color: #fff; }
@media (max-width: 769px) {
	.nav-footer li { display: inline-block; vertical-align: middle; margin-right:20px; }
}
/* ------------------------------------------------------------ *\
	Nav Mobile
\* ------------------------------------------------------------ */
.nav-mobile { display:none; }
@media (max-width: 1024px) {
	.nav-mobile { display:block; position: fixed; top:-700px; left:0; width: 100%; background:#fff; z-index: 999; 
		transition: all .3s; 
	}
	.nav-mobile ul { margin-bottom:0; border-bottom:2px solid #000; }
	.nav-mobile li { border-top:1px solid #000; }
	.nav-mobile a { display:block; text-decoration: none; background:#eb3f33; color: #fff; }
	.nav-mobile.visible { top:70px; }
	.nav-mobile.visible.fixed { top:0; }
}
/* ------------------------------------------------------------ *\
	Number
\* ------------------------------------------------------------ */
.number { width: 85px; height: 85px; background:#eb3f33; margin: 0 auto; text-align:center; line-height:85px; font-size:48px; font-weight:700; display:block; color: #fff; position: absolute; top:0; left:50%; 
	-ms-transform: translateY(-50%) translateX(-50%) rotate(45deg); 
	    transform: translateY(-50%) translateX(-50%) rotate(45deg); z-index: 10; }
.number span { display:block; -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
/* ------------------------------------------------------------ *\
	Popover
\* ------------------------------------------------------------ */
.popover { position: absolute; z-index: 9999; opacity: 0; visibility: hidden; right:-10px; top:120px; }
.popover.open { opacity: 1; visibility: visible; }
/* ------------------------------------------------------------ *\
	Section (Global)
\* ------------------------------------------------------------ */
.section-title { text-align:center; }
.section-actions { text-align:center; }
.section-actions .btn { margin: 0 12px; }
@media (max-width: 769px) {
	.section-actions .btn { margin: 10px; }
}
/* ------------------------------------------------------------ *\
	Section Message
\* ------------------------------------------------------------ */
.section-message { background:#fff; }
.section-message .section-inner { padding: 145px 160px 165px 160px; }
.section-message .section-inner:after { }
.section-message .section-head { float:left; width: 381px; }
.section-message .section-title { line-height:1.2; text-align:left; margin-top:-15px; }
.section-message .section-body { overflow: hidden; }
.section-message p { margin-bottom:30px; }
.section-message .section-actions { padding-top:20px; text-align:left; }
@media (max-width: 1200px) {
	.section-message .section-inner { padding-left:0; padding-right:0; }
}
@media (max-width: 1023px) {
	.section-message .section-inner { padding: 80px 0; }
}
@media (max-width: 769px) {
	.section-message .section-head { width: auto; float:none; }
	.section-message .section-title { margin-bottom:20px; }
	.section-message .section-title br, .section-message .section-title .span-hyphen { display:none; }
}
/* ------------------------------------------------------------ *\
	Section Services
\* ------------------------------------------------------------ */
.section-services { background:#eeeeee; padding: 70px 0 205px 0; position: relative; }
.section-services .section-head { padding-bottom:74px; }
.section-services .section-title { text-align:center; }
@media (max-width: 769px) {
	.section-services { padding-bottom:80px; }
	.section-services .section-head { padding-bottom:30px; }

	.section-services .grid-item:nth-child(even) .service .service-image { right: auto; left: 50%; }
	.section-services .grid-item:nth-child(odd) .service .service-image { right: 50%; left: auto; }

	.section-services .grid-item:nth-child(even) .service .service-body { left:auto; right:50%; }
	.section-services .grid-item:nth-child(odd) .service .service-body { left:50%; right:auto; }
}
@media (max-width: 479px) {
	.section-services .grid-2-cols .grid-item { padding-bottom:100%; }
	.section-services .service .service-image { width: 100%; left:0 !important; height: 50%; }
	.section-services .service .service-body { top:45%; height: 50%; left:0 !important; width: 100%; -ms-transform: translateY(25%); transform: translateY(25%); }
}
/* ------------------------------------------------------------ *\
	Section Features
\* ------------------------------------------------------------ */
.section-features { position: relative; padding: 68px 0; }
.section-features .section-bg { position: absolute; top:0; left:0; width: 100%; height: 100%; background-repeat: no-repeat; background-position:50% 50%; background-size: cover; }
.section-features .section-inner { position: relative; z-index: 1; }
.section-features .section-title { color: #fff; }
.section-features .section-head { padding-bottom:116px; }
@media (max-width: 1200px) {
	.section-features { padding-left:20px; padding-right:20px; }
}
@media (max-width: 769px) {
	.section-features .section-head { padding-bottom:40px; }
}
/* ------------------------------------------------------------ *\
	Section Cegories
\* ------------------------------------------------------------ */
.section-cegories { position: relative; background:#eeeeee; }
.section-cegories .section-head { padding: 70px 0 76px 0; }
.section-cegories .section-actions { text-align:center; padding: 80px 0; }
.section-cegories .section-actions .btn { min-width: 203px; }
@media (max-width: 769px) {
	.section-cegories .section-actions { padding: 30px 0; }
}
/* ------------------------------------------------------------ *\
	Section Testimonials
\* ------------------------------------------------------------ */
.section-testimonials { padding: 145px 0 190px 0; }
.section-testimonials .section-head { padding-bottom:65px; }
@media (max-width: 769px) {
	.section-testimonials { padding: 80px 0; }
}
/* ------------------------------------------------------------ *\
	Section Contacts
\* ------------------------------------------------------------ */
.section-contacts { background: url(images/caontacts-bg.jpg) no-repeat 50% 50%; background-size: cover; padding: 145px 0; color: #fff; position: relative; }
.section-contacts:before { content:''; position: absolute; top:0; bottom:0; left:50%; width: 2px; background: rgba(255,255,255, .2); margin-left:-1px; }
.section-contacts .section-title { color: #fff; text-align:left; margin-bottom:70px; }
.section-contacts .section-body { padding-left:80px; }
.section-contacts .section-actions { text-align:left; }
.section-contacts .section-actions .btn { margin: 0; }
.section-contacts .section-content { padding: 0 0 45px 0 ; margin-top:-8px; }
@media (max-width: 1200px) {
	.section-contacts { padding-left:20px; padding-right:20px; }
}
@media (max-width: 1023px) {
	.section-contacts .section-body { padding-left:0; }
}
@media (max-width: 769px) {
	.section-contacts { padding: 80px 0; }
	.section-contacts:before { display:none; }
	.section-contacts .section-title { margin-bottom:30px; }
}
/* ------------------------------------------------------------ *\
	Service
\* ------------------------------------------------------------ */
.service { position: absolute; top:0; left:0; width: 100%; height: 100%; border:1px solid #fff; }
.service .service-title { margin-bottom:33px; }
.service .service-body { width: 50%; position: absolute; top:50%; left:50%; padding: 0 84px; -ms-transform: translateY(-50%); transform: translateY(-50%); }
.service .service-body:before { content:''; border-right:14px solid #eee; border-top:12px solid transparent; border-bottom:12px solid transparent; width: 0; height: 0; position: absolute; top:50%; left:-12px; margin-top:-12px; }
.service .service-image { width: 50%; position: absolute; top:0; right:50%; height: 100%; background-repeat: no-repeat; background-position:50% 50%; background-size: cover; }
.service-reversed .service-body { left:auto; right:50%; }
.service-reversed .service-image { right:auto; left:50%; }
.service-reversed .service-body:before { left:auto; right:-12px; -ms-transform: rotate(180deg); transform: rotate(180deg); }
@media (max-width: 1400px) {
	.service .service-body { padding: 0 20px; }
}
@media (max-width: 1200px) {
	.service p { line-height:1.2; }
	.service .service-title { margin-bottom:10px; }
	.service .service-title br { display:none; }
	.service .service-body { padding: 0 10px; }
}
@media (max-width: 769px) {
	.service .service-title { line-height:1.1; }
}
@media (max-width: 479px) {
	.service .service-image { }
	.service .service-body {}
}
/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.slider {}
.slider .slides { list-style: none outside none; }
/* ------------------------------------------------------------ *\
	Slider Testimonials
\* ------------------------------------------------------------ */
.slider-testimonials .slick-dots { text-align:center; margin: 67px 0 40px 0; }
.slider-testimonials .slick-dots li { cursor: pointer; width: 12px; height: 12px; border-radius: 50%; background:#ccc; list-style:none; list-style-position: outside; display: inline-block; vertical-align: middle; margin: 0 3px; border:2px solid #fff; }
.slider-testimonials .slick-dots button { display:none; }
.slider-testimonials .slick-dots li.slick-active { background:#eb3f33; border-color: #eb3f33; }
.slider-testimonials .slider-clip { margin: 0 -95px; }
.slider-testimonials .slide { padding: 0 95px; }
@media (max-width: 1200px) {
	.slider-testimonials .slider-clip { margin: 0 -30px; }
	.slider-testimonials .slide { padding: 0 30px; }
}
/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */
.socials { font-size:0; text-align:center; }
.socials li { list-style:none; list-style-position: outside; display: inline-block; vertical-align: middle; padding: 0 10px; }
.socials a { display:block; width: 40px; height: 40px; border-radius: 50%; border:1px solid #979797; text-align:center; line-height:38px; 
     transition: all .3s; }
.socials a:hover { background: #eb3f33; border-color: transparent; }
/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */
.table {}
/* ------------------------------------------------------------ *\
	Testimonial
\* ------------------------------------------------------------ */
.testimonial { text-align:center; margin: 0 auto; }
.testimonial .testimonial-image { width: 158px; height: 158px; border-radius: 50%; overflow: hidden; margin-bottom:15px; display: inline-block; vertical-align: middle; }
.testimonial .testimonial-image img { display:block; width: 100%; }
.testimonial .testimonial-head { padding-bottom:20px; }
.testimonial .testimonial-head h5 { margin: 0 0 5px 0; }
.testimonial .testimonial-head h6 { color: #eb3f33; }
/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */
.widgets { list-style: none outside none; }




/*.........CSS ADDED BY RANJITA..........*/

/*CSS FOR STICKY*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 103px;
    background: #ffffff;
	border-bottom: 1px solid #ccc;
}

body.home .header{
	border-bottom:none;
}

.sticky{display: block}


body{padding-top: 102px;}

/*CSS FOR MENU*/
.btn-menu {
    position: fixed;
    z-index: 10;
}

header .nav li{position: relative;}
header .nav li .popover{top: 82px; right: -17px;}
header .nav li .popover li{padding-left:0}
.shell .btn{border-radius: 25px}

/*.....CSS for banner....*/
/*.intro p,.intro .intro-title{background: rgba(0,0,0,0.5); padding: 8px 16px; display: inline-block}*/

.home-overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(images/home-filter.png) no-repeat center center;
    background-size: cover;
    opacity: 0.7;
}


.brands-page a.btn-share{background: #eb3f33} /* ,.testimonial-page a.btn-share */
.brands-page a.btn-share .ico-share{background-position:84.3967% 76.47058823529412%;} /* ,.testimonial-page a.btn-share .ico-share */

/*........CSS FOR PRODUCT HOVER...........*/
@media (min-width: 1025px) {
	.nav_share{display: none;}

	.category .category-image {
		opacity: 1;
		transition: all 0.3s ease 0s;
		overflow: hidden
	}

	.category:hover .category-image{
		-ms-transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		opacity: 0.15;
	}

	.grid-item{overflow: hidden}


	.category .category-body {
		text-align: center;
		position: absolute;
		background:rgba(0,0,0,0.4);
		top:0;
		padding-top:50%;
	}

	.category .category-body h4{transition: all .3s ease;}

	.category:hover .category-body	h4 { font-size: 40px; }

	.category:hover .category-body {
		/* cursor: url("../images/cross.png"), default; */
	}

}

/*......CSS FOR TESTIMONIAL.....*/
.copyright a,.footer-col a,.testimonial-body a{text-decoration: none;}

.testimonial-body a{ font-size: 19px;line-height: 0;}

.wpcf7-form span.wpcf7-not-valid-tip{color: #fff;}
.wpcf7-form div.wpcf7-validation-errors{border:2px solid #fff;}

@media (max-width: 1024px) {
	.category .category-image{
		background-size:100% 100%; 
	}
}

/*.........CSS FOR RESPONSIVE............*/
@media (max-width: 1080px) {
	.brands-page a.btn-share .ico-share{background-position:89% 66.371041%;} /* ,.testimonial-page a.btn-share .ico-share */
	header .nav li .popover{top: 70px;}
}

@media (max-width: 1024px) {
	body{padding-top: 78px;}

	body.testimonial-page,body.brands-page{padding-top: 0;}
	.header{height: 80px;}
	.nav_share{position: fixed; right: 60px; top:7px; display: inline-block;}
	.nav li{padding-right:0; display: block;}
	.nav a:hover{text-decoration: none;}

	.inner-page {margin-top: 103px !important;}

	.btn-share {
    width: 35px;
    height: 35px; line-height: 31px;
    }

	/*Css for testimoinial*/
	.team-testimonials .testimonial {width: 100%;}


	.slider-testimonials .slick-dots { text-align:center; margin: 0 0 30px 0; }


	.footer-col:nth-child(1){width: 100%}
	.footer-col:nth-child(2),.footer-col:nth-child(3){display: inline-block; width: 49%;}	

	/*.footer-col:nth-child(3) {
		width: 100% !important;
	}	

	.footer-col{width:48% !important;margin-bottom: 10px; display: inline-block; vertical-align: text-top;}

	.footer-col li{display: block;}*/

	.section-testimonials,.section-contacts{padding: 30px 0}
	.footer-aside{margin-bottom: 10px;}
	.section-message .section-inner{padding: 30px 0 80px}
}

@media(max-width: 414px){
	.intro .intro-title{margin-top:10px;}
	.nav-footer li{width: 49%; margin-right: 0}
}

@media(max-width: 375px){
	.intro-content p{display: none;}
	.logo{ width: 190px; height: 46px;}
}


@media(max-width: 320px){
	h2 { font-size: 37px;}
}

/*@media(min-width: 600px) and (max-width: 768px){
	.footer{padding:84px 0 240px 0
	}*/


/*CSS for contact*/

div.wpcf7-mail-sent-ok{
	border: 2px solid #fff !important;
}


.arrow-active--dir__left {
	vertical-align: text-top !important;
	margin-top: 2px;
}

/*ADD by Ranjita*/

.section-message .section-title {
	padding-right: 58px;
	word-break: break-all;
}

.list-features li{
	padding-left:0;
}

.list-features span.icon-block {
	display: inline-block;
	width: 20%;
}

.list-features h5 {
	display: inline-block;
	padding: 10px 0 0 0px;
	vertical-align: middle;
	width: 75%;
	word-break:break-all;
}


@media(max-width: 1024px) {
	/*.shell{
		padding:0;
	}*/
	
	.list-features li {
		min-height: 100px;
		margin-bottom:25px;
	}

	.list-features h5 {
		padding: 10px 0 0 20px;
	}
}

@media(max-width: 767px){
	.list-features li {
		overflow: hidden;
		min-height: 80px;
	}

	.list-features h5{
		font-size: 18px;
	}

	.section-message .section-title {
		font-size: 30px;
	}
}

@media(max-width: 480px){
	.list-features li {
		margin-bottom:10px;
	}

}



