/* Defining style rules for cms stuffs which are supposed to be reusable throughout the site */

/* Custom input types */
input {

	.hidden {
		display: none;
	}

	/* Check boxes */
	&.hidden {
		display: none;
	}

	+ label {
		&:not(.error) {
			position: relative;
			display: inline-block;
			margin: 0 0;
			padding-left: 2rem;
			font-size: 1rem;
		    cursor: pointer;

		    ##{$ns}-filter__controls & {
		    	padding-right: 0.75rem;
		    	padding-left: 0;
			    color: $color-white;
			    line-height: 1.5rem;

			    &::before {
			    	display: none;
			    }

			    &::after {
					position: absolute;
				    top: 50%;
				    right: -0.75rem;
				    bottom: 5px;
				    content: "";
				    display: inline-block;
				    width: 0.875rem;
				    height: 0.875rem;
				    background-color: $color-white;
				    border-radius: 3px;
				    transform: translateY(-50%);
			    }
		    }

		    &::before {
			    position: absolute;
			    top: 50%;
			    left: 0;
			    //bottom: 5px;
			    content: "";
			    display: inline-block;
			    width: 1.25rem;
			    height: 1.25rem;
			    background-color: $color-heather3;
			    border-radius: 5px;
			    transform: translateY(-50%);
			}
		}

		/* Label with error class */

	}

	&.#{$ns}__control--large {
		+ label {
			padding-left: 3.15rem;
			&::before {
				margin-top: -1px;
				width: 2.25rem;
				height: 2.25rem;
				background: {
					color: transparent;
				}
				border: 1px solid $color-russianBlack;
				border-radius: 1px;
			}
		}

		&:checked {
			+ label {
				&::before {
					background: {
						color: transparent !important;
						image: url(#{$img-path}signup-tick.png) !important;
						position: center center;
						repeat: no-repeat;
						size: 100% !important;
					}
				}
			}
		}
	}

	&[type="checkbox"]:checked {
		##{$ns}-filter__controls & {
			+ label {
				&::after {
					background: {					
						image: url(#{$img-path}checkbox-tick.svg);
						position: center center;
						repeat: no-repeat;
						size: 10px;
					}
				}

				&::before {
					display: none;
				}
			}
		}

		+ label {
			color: $color-darkGoldenrod;
			&::before {
				background: {
					color: $color-darkGoldenrod;
					image: url(#{$img-path}tick-mark-white.svg);
					position: center center;
					repeat: no-repeat;
					size: 10px;
				}
			}
		}
	}

	&[type="radio"] + label {
		&::before {
			background: {
				color: $color-white;
			}
			border: 4px solid $color-heather3;
			border-radius: 50%;
		}
	}	

	&[type="radio"]:checked {
		+ label {
			color: $color-darkGoldenrod;
			&::before {
				background: {
					color: $color-white;
					image: url(#{$img-path}picto-dot.svg);
					position: center center;
					repeat: no-repeat;
					size: 6px;
				}
				border: 4px solid $color-darkGoldenrod;
				border-radius: 50%;
			}
		}
	}
}

/* NGL row with margins */
.#{$ns} {
	&__row {
		/* Bottom margin 105px */
		&--marBtm105 {
			@include media(">laptop") {
	          margin-bottom: 6.563rem;
	        }

	        @include media("<=laptop", ">ipad") {
	          margin-bottom: 5rem; 
	        }

	        @include media("<=ipad", ">smart-phone") {
	          margin-bottom: 4rem;  
	        }

	        @include media("<=smart-phone") {
	          margin-bottom: 2rem;  
	        }
		}

		/* Top margin 40px */
		&--marTop40 {
			@include media(">laptop") {
	          margin-top: 2.25rem;
	        }

	        @include media("<=laptop") {
	          margin-top: 2rem;
	        }
		}
	}
}

/* NGL elements with gaps */
.#{$ns} {
	&__pad {
		/* Left right 30px padding */
		&--lefRgt30 {
			@include media(">ipad") {
				padding-right: 2rem;
				padding-left: 2rem;
			}
		}
	}
}

/* NGL :: Space shortcode */
.#{$ns} {
  &__divider {
  	/* Space shortcode color white */
  	&--grey {
  		background: {
  			color: $color-whiteSmoke;
  		}
  	}

  	/* Space shortcode color grey */
  	&--white {
  		background: {
  			color: $color-white;
  		}
  	}

  	/* Space shortcode color grey */
  	&--heather {
  		background: {
  			color: $color-heather;
  		}
  	}

  	/* Space shortcode :: large */    
    &--extraLarge {
      @include media(">desktop") {
      	padding: 4.25rem 0;
      }

      @include media("<=desktop", ">ipad") {
      	padding: 3.25rem 0;
      }

      @include media("<=ipad", ">smart-phone") {
      	padding: 3rem 0;
      }

      @include media("<=smart-phone") {
      	padding: 1.875rem 0;
      }
    }

  	/* Space shortcode :: large */    
    &--large {
      @include media(">desktop") {
      	padding: 3.750rem 0;
      }

      @include media("<=desktop", ">ipad") {
      	padding: 3rem 0;
      }

      @include media("<=ipad", ">smart-phone") {
      	padding: 2.75rem 0;
      }

      @include media("<=smart-phone") {
      	padding: 1.875rem 0;
      }
    }

    /* Space shortcode :: medium */    
    &--medium {
      @include media(">desktop") {
      	padding: 3.00rem 0;
      }

      @include media("<=desktop", ">ipad") {
      	padding: 2.75rem 0;
      }

      @include media("<=ipad", ">smart-phone") {
      	padding: 2.25rem 0;
      }

      @include media("<=smart-phone") {
      	padding: 1.875rem 0;
      }
    }

    /* Space shortcode :: small */    
    &--small {
	  @include media(">ipad") {
	  	padding: 2.813rem 0;
	  }

      @include media("<=ipad", ">smart-phone") {
      	padding: 2.25rem 0;
      }

      @include media("<=smart-phone") {
      	padding: 1.875rem 0;
      }
    }

    /* Space shortcode :: small */    
    &--tiny {
	  padding: 1.75rem 0;
    }
  }
}

/* NGL socila media pictos */
$ico: 'icon';
.#{$ico} {
	&--social {
		color: $color-black;
		font-size: 3rem;
	}
	transition: all linear 0.35s;

	/* Facebook hover state */
	$color-facebook: #3b5999;
	$color-twitter: #0084b4;
	$color-youtube: #c4302b;
	$color-pinterest: #c92228;

	&-facebook {
		&:hover {
			color: $color-facebook;
		}
	}

	&-twitter {
		&:hover {
			color: $color-twitter;
		}
	}

	&-instagram {
		&:hover {
			color: $color-heather; /* Demo color */
		}
	}

	&-youtube {
		&:hover {
			color: $color-youtube;
		}
	}

	&-pinterest {
		&:hover {
			color: $color-youtube;
		}
	}
}

/* NGL picto utilities */
.#{$ns} {
	/* Utilities row */
	&__row {
		&--utilities {
			&:not(:last-of-type) {
				margin-bottom: 3.25rem;
			}
		}
	}

	/* Utilities */
	&__utilities {
		&--list {
			li {
				&:not(:last-of-type) {
					margin-bottom: 0.938rem;
				}
			}
		}

		&--social {
			display: flex;
			li {
				line-height: 1;
				&:not(:last-of-type) {
					margin-right: 1.313rem;
				}
			}
		}

		&--form-control {
			display: flex;
			justify-content: space-between;
			li {
				line-height: 1;
			}
		}
	}

	/* Pictos */
	&__picto {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		//margin-bottom: 1rem;

		/* Psuedo elements for pictos */
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			content: "";
		}

		/* Black pdf picto */
		&--pdfBlack {
			width: 3rem;
			height: 3.063rem;
			&::before {
				width: 3rem;
				height: 3.063rem;
				background: {
					image: url(#{$img-path}pdf-symbol.svg);
					repeat: no-repeat;
					size: 100%;
				}
			}
		}

		/* Black pdf picto */
		&--pdfWhite {
			width: 3.063rem;
			height: 3.50rem;
			&::before {
				width: 3.063rem;
				height: 3.50rem;
				background: {
					image: url(#{$img-path}pdf-stroke.svg);
					repeat: no-repeat;
					size: 100%;
				}
			}
		}

		/* Black pdf picto */
		&--downArrow {
			width: 2.875rem;
			height: 2.875rem;
			&::before {
				width: 2.875rem;
				height: 2.875rem;
				background: {
					image: url(#{$img-path}down-arrow.svg);
					repeat: no-repeat;
					size: 100%;
				}
			}
		}

		/* Picto links */
		&-link {
			display: inline-block;
			vertical-align: middle;
			color: $color-anthracite;
			font-family: $ff-museo-500;
			font-size: 1.563rem;
			line-height: 1rem;

			&:not(:last-of-type) {
				margin-right: 1rem;
			}

			> span {
				margin-left: 1.35rem;
			}
		}
	}
}

/* NGL list/group */
.#{$ns} {
	&__list {
		@include media(">smart-phone") {
			display: flex;
			justify-content: center;
			margin-right: -12px;
			margin-left: -12px;
		}

		@include media("<=smart-phone") {
			padding-left: 5px;
			text-align: left;
		}

		li {
			position: relative;
			// padding-right: 12px;
			// padding-left: 12px;

			@include media(">smart-phone", "landscape") {
				padding-right: 12px;
				padding-left: 12px;				
			}

			@include media("<=ipad", ">smart-phone", "portrait") {
				padding-right: 8px;
				padding-left: 8px;				
			}

			@include media("<=smart-phone") {
				display: inline-block;
				margin-right: 5px;
			}

			&::after {
				@include media(">smart-phone") {
					position: absolute;
					top: 50%;
					right: 0;
					content: "";
					display: block;
					width: 1px;
					height: 80%;
					background: {
						color: $color-palma;
					}
					transform: translateY(-50%) rotate(20deg);
				}
			}

			&:last-of-type {
				&::after {
					display: none;
				}
			}
		}
	}
}

/* NGL table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $color-palma;
  font-size: 1rem;
  font-weight: $base-font-weight;
  text-align: center;
  letter-spacing: 1px;

  /* Subtable */
  .#{$ns}-subTable {
  	@include media("<=smart-phone") {
	  	//margin-top: 2rem;
	  	tr {
		  	&::before,
		  	&::after {
		  		content: "";
		  		overflow: hidden;
		  		display: table;
		  		height: 0;
		  		visibility: hidden;
		  	}

		  	&::after {
		  		clear: both;
		  	}
	  	}
  	}
  }

  a {
  	color: $color-palma;
  }

  &.#{$ns}-productTable {
  	td {
		padding: 0.75rem 1rem 0.75rem;

		@include media("<=smart-phone") {
			&::before {
				text-transform: $uc;
			}
		}

		td {
			padding: 0 0;

			&::before {
				display: none;
			}
		}
	}
  }

  tbody tr {
    &:nth-child(odd) {
      @include media(">smart-phone") {
        background: $color-whiteSmoke;
      }
    }

    tr {
  		background: transparent !important;
  	}

    .#{$ns}-table--striped & {
    	&:nth-child(even) {
    		background: {
    			color: $color-white;
    		}
    	}
    }
  }

  th {
    width: 33.33333%;
    background: {
      color: $color-darkGoldenrod;
    }
    color: $color-white;
    font-family: $ff-roboto-light;
    text-transform: $uc;
  }

  th, td {
    padding: 1rem 1rem 0.983rem;
    line-height: 1.25rem;

    td {
    	padding-top: 0;
    	padding-bottom: 0;    	
    	border: 0 !important;

    	&:first-of-type {
    		padding-right: 0;
    		padding-left: 0;
    	}

    	&:last-of-type {
    		padding-right: 0;
    	}
    }
  }

	/* Table heading */
	.#{$ns}-table {
		&__cell {
			/* Text cases */
			&--caps {
				text-transform: $uc;
			}

			/* Different size heading */
			&--3 {
				width: 16.5%;

				@include media("<=smart-phone") {
					width: 10%;
				}
			}

			&--4 {
				width: 33%;
			}

			&--8 {
				width: 67%;
			}

			&--9 {
				width: 82.5%;

				@include media("<=smart-phone", ">phone") {
					width: 69%;
				}

				@include media("<=phone") {
					width: 61.5%;
				}
			}

			@include media("<=smart-phone") {
				float: left;
			}
		}
	}

  td {
    @include media(">smart-phone") {
      &:not(:last-of-type) {
        border-right: 1px solid $color-mischka;
      }
    }

    .#{$ns}-table--striped & {
    	&:first-of-type {
    		text-transform: $uc;
    	}
    }
  }

  @include media("<=smart-phone") {

    display: block;

    *:not(thead) {
      display: block;
    }

    thead {
      display: none;
    }

    tr {
      &:not(:last-of-type) {
        margin-bottom: 0.938rem;
      }

      .#{$ns}-table--striped & {
      		&:nth-child(even) {
      			td {
			    	background: {
			    		color: $color-white;
			    	}
		    	}
	    	}
       }
    }

    td {
      position: relative;
      border: 1px solid $color-mischka;

      td {
      	background: transparent !important;
      	border: 0;
      }

      &:not(:last-of-type) {
        border-bottom: 0;
      }

      &:nth-child(odd) {
        background: $color-whiteSmoke;
      }

      &:before {
        content: attr(data-title) " : ";
        padding-right: 0.625rem;
        float: left;
        //font-weight: 700;        
      }

    }

  }
}

/* NGL accordion */
.#{$ns} {
	&-accordion {
		/* Common styles for accordion */
		overflow: hidden;
		color: $color-palma;

		@include media("<smart-phone") {
			.#{$ns}-block--accordionBig & {
	        	margin-right: -15px;
	        	margin-left: -15px;
        	}
      	}

		.#{$ns}-block--accordionSmall & {
			font-size: 1rem;
		}		

		/* Accordion col */
		&__col {
			&:not(:last-of-type) {
				/* Toggler under small accordion */
				.#{$ns}-block--accordionSmall & {
					margin-bottom: 0.750rem !important;
				}
			}

			/* Toggler under big accordion */
			.#{$ns}-block--accordionBig & {
				&:nth-of-type(even) {
					.toggler {
						background: {
							color: $color-white;
						}
					}
				}

				/* Active accordion col */
				&.panel-col-active {
					.toggler {

						padding-top: 0;
						/* Toggler label */
						span {
							display: none;							
						}

						/* Chevron */
						.#{$ns}__chevron--down {
							&::after {
								transform: rotate(-135deg);
							}
						}
					}
				}
			}
		}

		/* Outer Panel */
		&__panel {
			/* Toggler under big accordion */
			.#{$ns}-block--accordionBig .#{$ns}-accordion__col:nth-of-type(odd) & {
				background: {
					color: $color-whiteSmoke;
				}
			}
		}

		/* Accordion heading */
		.toggler {
			position: relative;
			display: block;
			color: $color-palma;

			/* Toggler under small accordion */
			.#{$ns}-block--accordionSmall & {
				background: {
					color: $color-whiteSmoke;
				}
				text-transform: $uc;
				line-height: 1rem;

				@include media(">smart-phone") {
			    	padding: 1.125rem 3rem 1.125rem 2.125rem;
			    }

			    @include media("<=smart-phone") {
			    	padding: 1.25rem 1.25rem;
			    }

				&.toggler {
					&::before,
					&::after {
						position: absolute;
					    top: 50%;
					    content: "";
					    display: block;
						width: 14px;
					    height: 2px;
					    background: $color-palma;
					    margin: 0;
					    transform: translateY(-50%);
					    transition: all ease-in-out 0.5s;

					    @include media(">smart-phone") {
					    	right: 3rem;
					    }

					    @include media("<=smart-phone") {
					    	right: 1.25rem;
					    }
					}
				}

				&.opener {
					&::after {
						width: 14px;
					    height: 2px;
					    transform: translateY(-50%) rotate(-90deg);
					}
				}
			}

			/* Toggler under big accordion */
			.#{$ns}-block--accordionBig & {
				@include media(">smart-phone") {
					padding: 4.375rem 3rem 5.75rem 2.125rem;
				}

				@include media("<=smart-phone") {
					padding: 2rem 0.938rem 3.75rem;
				}

				background: {
					color: $color-whiteSmoke;
				}
				text-transform: $uc;
				text-align: center;
			}
		}

		/* Acorrdion panel heading */
		&__panel {
			&-heading {
				h2 {
					margin-bottom: 0;
				}
			}
		}

		/* Accordion panel body */
		&__panelBody {
			overflow: hidden;
			display: none;

			/* Active panel */
			&--active {
				display: block;
			}

			/* Toggler under small accordion */
			.#{$ns}-block--accordionSmall & {
				border-top: 1px solid $color-white;
				border-bottom: 1px solid transparent;
				background: {
					color: $color-whiteSmoke;
				}

				@include media(">smart-phone") {
			    	padding: 2.0rem 6.250rem 3.125rem;
			    }

			    @include media("<=smart-phone") {
			    	padding: 1.2250rem 1.25rem 1.25rem;
			    }
			}

			/* Toggler under big accordion */
			.#{$ns}-block--accordionBig & {
				margin: 0 auto;
				width: 100%;
				max-width: 1170px;

				@include media(">smart-phone") {
		          padding: 5.0rem 0rem 1.85rem;
		        }

		        @include media("<=smart-phone") {
		          padding: 2rem 15px 1.85rem;
		        }
			}

			.#{$ns}-block--accordionBig .#{$ns}-accordion__col:nth-of-type(odd) & {
				background: {
					color: $color-whiteSmoke;
				}
			}

			.#{$ns}-block--accordionBig .#{$ns}-accordion__col & {
				/* Ipro text content */
				.#{$ns} {
					&-block {
						&__text {
							h2 {
								//display: none;
								@include media(">smart-phone") {
									margin-bottom: 2.50rem;
								}

								@include media("<=smart-phone") {
									margin-bottom: 1.25rem;
								}
							}
						}
					}
				}
			}

			/* Table inside panel */
			table {
				height: auto !important;
				color: $color-storm-grey;

				@include media(">smart-phone") {
					margin-top: 3rem;
				}

				@include media("<=smart-phone") {
					margin-top: 1.25rem;
				}

				th {
					display: none;
					background: {
						color: $color-whiteSmoke;
					}
					color: $color-storm-grey;
				}

				td {
					@include media(">smart-phone") {
						border-right-color: $color-heather;
						border-bottom: 1px solid $color-heather;
					}

					@include media("<=smart-phone") {
						width: 100% !important;
					}
				}

				tr:last-of-type {
					td {
						@include media(">smart-phone") {
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
}

/* NGL :: Responsive video, image, google maps */
.#{$ns} {
	/* Responsive wrapper */

	&__wrapper {
		&--responsive {
			position: relative;
			overflow: hidden;
			padding-bottom: 56.25%;
			height: 0;
		}
	}

	/* Responsive media */
	&__media {
		&--responsive {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

/* NGL :: Lightbox */
.#{$ns} {
	/* Lightbox */
	&-lightbox {
		&--abs {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 auto;
			transition: all linear 0.35s;
		}

		&--vcenter {
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}
	}
}

/* NGL :: Pictos */
.#{$ns} {
	&-picto {
		position: relative;
		display: block;
		margin: 0 auto;
		transition: all linear 0.35s;

		/* Psuedo elements */
		&::before {
			content: "";
			width: 100%;
			height: 100%;
		}

		/* Large picto */
		&--large {
			@include media(">smart-phone") {
				width: 6.563rem;
				height: 6.563rem;
			}

			@include media("<=smart-phone") {
				width: 4rem;
				height: 4rem;
			}
		}

		/* Picot small */
		&--small {
			@include media(">smart-phone") {
				width: 1.750rem;
				height: 1.750rem;
			}

			@include media("<=smart-phone") {
				width: 1.50rem;
				height: 1.50rem;
			}	
		}

		/* Video play icon */
		&--videoPlay {
			background: {
				image: url(#{$img-path}lightbox-play-icon.png);
				repeat: no-repeat;
				size: 100%;
			}
		}

		/* PDF picto */
		&--pdf {
			margin: 0 1.75rem 0 auto;
			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: "";
				width: 100%;
				height: 100%;
				background: {
					image: url(#{$img-path}picto-pdf-red.png);
					position: center center;
					repeat: no-repeat;
					size: 100%;
				}
			}
		}

		/* Child of product table */
		@include media("<=ipad", ">smart-phone", "portrait") {
			.#{$ns}-productTable & {
				margin: 0 0;
			}
		}
	}
}

/* NGL :: Ordered, unordered list that comes from editor */
.#{$ns} {
	&__list {
		&--iseditor {
			/* Ordered, unordered group */
			font-size: 1rem;

			@include media(">smart-phone") {
				margin-top: 1.250rem;
			}

			@include media("<=smart-phone") {
				margin-top: 1rem;
			}

			/* List items */
			li {
				&:not(:last-of-type) {
					margin-bottom: 0.125rem;
				}
			}

			/* Ordered list */
			&-ordered {
				counter-reset: minions-counter;

				li {
					position: relative;
					padding-left: 1.250rem;

					&::before {
						position: absolute;
						top: 0;
						left: 0;
						content: counter(minions-counter);
						counter-increment: minions-counter;
					}
				}
			}

			/* Ordered list */
			&-unordered {

				li {
					position: relative;
					padding-left: 1.250rem;

					&::before {
						position: absolute;
						top: 0.5rem;
						left: 0;
						content: "";
						width: 0.625rem;
						height: 0.625rem;
						background: {
							color: $color-heather2;
						}
						border-radius: 50%;
					}
				}
			}
		}
	}
}

/* NGL custom html5 audio player */
.#{$ns} {
	&-audio {
		/* Audio wrapper */
		&__wrap {
			margin-bottom: 1.938rem;
		}
	}
}

/* Custom audio video */
$ms: 'mejs';
.#{$ms} {
	/* Audio container */
	&-container {
		width: 100% !important;
		max-width: 400px;
		height: 50px !important;
		background: {
			color: $color-slateGrey;
		}

		* {
			box-sizing: border-box;
		}

		/* Controls */
		.#{$ms}-controls {
			top: 50%;
			height: 100%;
			transform: translateY(-50%);
			background: $color-slateGrey;

			&::before,
			&::after {
				content: "";
				overflow: hidden;
				display: table;
				height: 0;
			}

			&::after {
				clear: both;
			}

			> * {
				float: left;
			}

			/* Audio button */
			button {
				top: 50%;
				left: 50%;
				display: inline-block;
				margin: 0 auto;
				width: 20px;
				height: 20px;
				transform: translateX(-50%) translateY(-50%);
			}

			/* Play button */
			.#{$ms}-playpause-button {
				position: relative;
				width: 12.70%;
				height: 100%;
				background: {
					color: $color-noir;
				}
				border-radius: 0 0 0px 3px;

				&.#{$ms}-play {
					button {
						background: {
							image: url(#{$img-path}media-play.svg);
							position: center center;
							repeat: no-repeat;
							size: 100%;
						}
					}
				}

				&.#{$ms}-pause {
					button {
						background: {
							image: url(#{$img-path}media-pause.svg);
							position: center center;
							repeat: no-repeat;
							size: 100%;
						}
					}
				}
			}

			/* Sound button */
			.#{$ms}-volume-button {
				margin-right: 3%;
				height: 100%;

				@include media("<=ipad") {
					display: none;
				}

				&.#{$ms}-mute {
					button {
						background: {
							image: url(#{$img-path}media-unmute.svg);
							position: center center;
							repeat: no-repeat;
							size: 100%;
						}
					}
				}

				&.#{$ms}-unmute {
					button {
						background: {
							image: url(#{$img-path}media-mute.svg);
							position: center center;
							repeat: no-repeat;
							size: 100%;
						}
					}
				}
			}

			/* Time rail */
			.#{$ms}-time-rail {
				position: relative;
				padding: 10px 15px;
				height: 100%;

				@include media(">ipad") {
					width: 58% !important;
				}

				@include media("<=ipad") {
					width: 87.3% !important;
				}
			}

			/* Mute / unmute button */
			.#{$ms}-volume-button {
				
			}

			/* Horizontal slider */
			.#{$ms}-horizontal-volume-slider {
				display: block !important;
				//padding: 1rem 0.875rem;
    			width: 16.5%;
    			height: 100%;

    			@include media("<=ipad") {
					display: none !important;
				}
    		}

    		/* Time total slider */
			.#{$ms}-time-slider {
				top: 50%;
				margin: 0 0;
				width: 100% !important;
				transform: translateY(-50%);

				@include media(">ipad") {
					max-width: 202px;
				}

				@include media("<=ipad") {
					max-width: calc(100% - 30px);
				}

				.#{$ms}-time {
					&-loaded {
	    				width: 100% !important;
    				}

    				&-handle {
    					position: relative;
    					top: 0;
						display: block;
						border: 0;
    				}
    			}
    		}

    		.#{$ms}-horizontal-volume-total {
    			top: 50%;
    			width: 100%;
    			transform: translateY(-50%);
    		}

    		.#{$ms}-horizontal-volume-current {
    			top: 50%;    			
    			transform: translateY(-50%);
    		}

    		.#{$ms}-horizontal-volume-handle {
    			position: absolute;
			    top: 50%;
			    display: block;
    			background: $color-white;
			    width: 8px;
			    height: 8px;
			    border-radius: 50%;
			    transform: translateY(-50%);
    		}
		}
	}

	/* Duration control */
	&-duration-container,
	&-currenttime-container {
		display: none !important;
	}
}

/* Mobile slider */
.#{$ns} {
	&__slider {
		@include media(">smart-phone") {
			&--mobile {
				[class*="col-sm-3"] {
					flex-shrink: initial;
					width: 25%;
				}
			}
		}

		@include media("<=smart-phone") {
			position: relative;
		}

		&--mobile {
			.swiper-wrapper {
				margin-right: 0 !important;
				margin-left: 0 !important;
				width: auto;
			}
		}

		&-slide {
			@include media("<=smart-phone") {
			    margin-bottom: 0 !important;
			    padding: 0 0;
			}
		}

		/* Mobile slider button */
		&-button {
			@include media("<=smart-phone") {
				z-index: $one-index;
				display: block !important;
				margin-top: -11px;
				width: 1.75rem;
				height: 1.75rem;

				&::before {
					position: absolute;
				    top: 0;
				    right: 0;
				    left: 0;
				    bottom: 0;
				    content: "";
				    display: block;
				    border-style: solid;
				    border-width: 0.15em 0.15em 0 0;
				}

				/* Previous button */
				&--prev {
					left: 0;
					transform: rotate(-135deg);
				}

				/* Next button */
				&--next {
					right: 0;
					transform: rotate(45deg);
				}

				[data-theme="default-theme"] & {
					color: $color-storm-grey;
				}
			}
		}
	}
}

/* Form error messages */
.error {
	//display: none;
	&.errorDiv {
		display: none;
		margin-top: 0rem;
		margin-bottom: 1.5rem;
		font-size: 1.125rem;
	}
	&:not(input) {
		display: block;
		margin-top: 0.35rem;
		margin-bottom: 0.675rem;
		color: $color-error;
		font-size: 0.875rem;
		font-style: italic;
	}
}

/* Form success messages */
.success {
	display: none;
	margin-bottom: 1rem;
	color: $color-darkGoldenrod;
	font-style: italic;
}

/* error input field */
input.error,
input.wpcf7-not-valid {
  border: 1px solid $color-error !important;
  color: $color-error !important;
}

/* Error input field placeholder */
@include placeholder('.error, .wpcf7-not-valid', $color-error !important, 0.875rem, $base-font-family, none);

/* Gadgets / touch devices style rules */
.gadget-detected {
	.#{$ns}-newsEvents__col > div {
		transform: none !important;
	}

	.ipro-row:not(#ipro-filter--newsEventsListing) {
		.#{$ns}-newsEvents__col {
			@include media("<ipad", ">smart-phone") {
				transform: none !important;
			}
		}
	}
}

/* NGL password reset utilities */
.#{$ns} {
	&__message {
		font-family: $ff-museo-500;
		&-wrap {
			@include media(">smart-phone") {
				padding: 6rem 0 0;
			}

			@include media("<=smart-phone") {
				padding: 3.5rem 0 0;
			}
		}

		&--big {			
			@include media(">smart-phone") {
				font-size: 2.125rem;
			}

			@include media("<=smart-phone") {
				font-size: 1.5rem;
			}
		}
	}
}

/* NGL gaps */
.#{$ns} {
  &__gap {
    /* No gap */
    &--zeroTop {
      margin-top: 0;
    }
  }
}