/* ---------------------------------------------------------------------------- */

/* ****************************** Common scss codes *************************** */

/* ---------------------------------------------------------------------------- */

/* Common css codes */

html {
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;

	@include media(">ipad") {
		font-size: 100%;
		line-height: 1.625em;
	}

	@include media("<=ipad", ">smart-phone") {
		font-size: 90%;
		line-height: 1.625em;
	}

	@include media("<=smart-phone") {
		font-size: 84%;
		line-height: 1.75em;
	}

}

body {
	overflow-x: hidden;
	background: $color-white;
    height: 100%;
	color: $color-storm-grey;
    font-size: 1.125rem;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	-webkit-font-smoothing: antialiased;

	@include media(">laptop") {
        font-size: 1.125rem;
		line-height: $base-height;
	}

    @include media("<=laptop", ">smart-phone") {
      //font-size: 0.875rem;
      line-height: $base-height;
    }

	@include media("<=smart-phone") {
        //font-size: 0.813rem;
		line-height: $base-height + .175;
	}
}
* {
	margin: 0 0;
	padding: 0 0;
}

/* NGL main wrappers */

.#{$ns} {
  /* &-wrapper {
    height: 100%;
  }

  &-wrapper__inner {
    position: relative;
    height: 100%;
  } */
}

/**
Body Selection
*
*/

@include selection($color-raven, $color-white);

@include placeholder('.ipro-bar .ipro-form__control', $color-storm-grey !important, 0.875rem, $base-font-family, none);
@include placeholder('.ipro-form__control', $color-palma !important, 0.875rem, $base-font-family, none);

*:focus{outline:none !important;}

p:last-child,
p:last-of-type,
.no-margin-bottom,
.last-col{
	margin-bottom: 0;
}

a {
	text-decoration: none;
	transition: all linear 0.35s;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $color-palma;
	}

	&:hover {
		//color: $primary-color;
	}

	&:focus {
		//color: $white-color;
	}
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

figure {

	> img {
		max-width: 100%;

		@include media(">smart-phone") {
			//width: 100%;
		}
	}

	@include media("<=smart-phone") {
		.#{$ns}-block--img & {
			margin-right: auto;
			margin-left: auto;
			max-width: 70%;
		}
	}
}

p {
	margin-bottom: 15px;

	> a {
		position: relative;
		color: $color-darkGoldenrod;

		&::after {
	        position: absolute;
	        bottom: 3px;
	        left: 0;
	        content: "";
	        height: 1px;
	        width: 100%;
	        background: {
	        	color: $color-darkGoldenrod;
	        }
	        transform: scale3d(1, 1, 1);
	        transition: all linear 0.30s;
	    }

		&:hover {
			&::after {
			  transform: scale3d(0, 0, 0);
			}
		}
	}
	+ a.ipro-link,
	+ span.btn {
		//margin-top: 1.250rem;
	}

	> a {

	}
}
ul, ol {
	margin: 0 0;
	list-style: none;

	li {
		list-style: none;
	}
}

/* Common utilities */

// .text {

// 	&-left {
// 		@include media("<=smart-phone") {
// 			text-align: center;
// 		}
// 	}

// 	&-center {
// 		text-align: center;
// 	}

// 	&-right {
// 		@include media("<=smart-phone") {
// 			text-align: center;
// 		}
// 	}
// }

/* Defining common style rules for heading tags */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0;

	@include media(">smart-phone") {
		/* margin-top: -8px; */
	}
}

h1,
.ipro-title--big {
	font-family: $ff-museo-500;
	text-transform: $uc;

	@include media(">desktop") {
		margin-bottom: 1.50rem;
		font-size: 4.063rem;
		line-height: 3.875rem;
	}

	@include media("<=desktop", ">ipad") {
		margin-bottom: 1.250rem;
		font-size: 3rem;
		line-height: 3.25rem;
	}

	@include media("<=ipad", ">smart-phone") {
		margin-bottom: 1.1250rem;
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	@include media("<=smart-phone", ">phone") {
		margin-bottom: 1rem;
		font-size: 2.125rem;
		line-height: 2.75rem;
	}

	@include media("<=phone") {
		margin-bottom: 1rem;
		font-size: 1.55rem;
		line-height: 2rem;
	}
}

h2 {
	font-weight: $base-font-weight - 100;
	font-family: $ff-museo-500;
	text-transform: $uc;
	line-height: 1.875rem;

	[data-theme="theme-palma-stormgrey"] & {
		color: $color-palma;
	}

	@include media(">desktop") {
		&:not(:last-child) {
			//margin-bottom: 1rem;
			margin-bottom: 1.35rem;
		}
		font-size: 2.188rem;
	}

	@include media("<=desktop", ">ipad") {
		&:not(:last-child) {
			margin-bottom: 1.35rem;
		}
		font-size: 1.563rem;
	}

	@include media("<=ipad", ">smart-phone") {
		&:not(:last-child) {
			margin-bottom: 1.35rem;
		}
		font-size: 1.4rem;
	}

	@include media("<=smart-phone") {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		font-size: 1.5rem;
	}
}

h3,
blockquote {
	font-family: $ff-museo-500;
	color: $color-poloBlue;
	text-transform: $uc;

	@include media(">desktop") {
		font-size: 1.563rem;
	}

	@include media("<=desktop", ">ipad") {
		font-size: 1.375rem;
	}

	@include media("<=ipad", ">smart-phone") {
		font-size: 1.125rem;
	}

	@include media(">smart-phone") {
		margin-bottom: 0.983rem;
	}

	@include media("<=smart-phone") {
		margin-bottom: 10px;
		//font-size: 1.125rem;
		font-size: 1.125rem;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h4 {
	&:last-of-type,
	&:last-child {
		margin-bottom: 0;
	}

	+ {
		a {
			margin-top: 30px;
		}
	}

	@include media(">smart-phone") {
		font-size: 1rem;
		line-height: 1.438rem;
	}

	@include media("<=smart-phone") {
		font-size: 1rem;
	}
}

h5 {
	font-size: 1.125rem;
    font-family: $base-font-family;
	line-height: 1.55rem;

	[data-theme="theme-palma-stormgrey"] & {
		color: $color-storm-grey;
	}

	&:not(:last-child) {
		@include media(">smart-phone") {
			margin-bottom: 2.25rem;
		}

		@include media("<=smart-phone") {
			margin-bottom: 1.25rem;
		}
	}

	.#{$ns}-bar & {
		color: $color-white;
		font-size: 1rem;
	}
}

h6{
	margin-bottom: 2.750rem;
	font-size: 1.250rem;

	@include media("<=smart-phone") {
		margin-bottom: 1rem;
		line-height: 1.5rem;
	}
}

/* NGL addresss styles */
address {
&:last-of-type,
    &:last-child {
      margin-bottom: 0;
    }
}

/* Para tags with differetn size and color variations */
.#{$ns} {
	&__para {
		/* Para with 20px font */
		&--big {
			@include media(">smart-phone") {
				font-size: 1.250rem;
			}
		}
	}
}