/* Defining style rules for grayscale blocks of the theme */

$filter-path: '../images/grayscale-filters.svg#grayscale';
.#{$ns}-media--grayscale {
	filter: url(#{$filter-path}); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Webkit Nightlies, Google Chrome Canary and Microsoft Edge*/
	transition: all linear 0.5s;
}
.#{$ns}-media--grayscale:hover,
 .active-grayscale .#{$ns}-media--grayscale {
	filter: none; /* Applies to FF + IE */
	-webkit-filter: grayscale(0);
}