/* Defining style rules for filter block in news/event filter page */

.#{$ns} {
	&-filter {

		/* Filter controls */
		&__controls {

			/* Filter controls label */
			label {
				font-size: 1.125rem;
			}
		}
	}

	/* Flex form */
	&-form--flex {

	}

	/* Flex form gorup */
	&-form {
		&__group {

			/* Inline groups */
			&--inline {
				//padding: 0 1.500rem;
				padding: 0 1.938rem;
			}
		}
	}
}