/* Defining @mixins */

/**
Css arrow mixin
*/
@mixin css-arrow($arrow-position, $arrow-color, $arrow-size) {
  &:after {
    position: absolute;
    border: solid transparent;
    content: " ";
    top: auto;
    left: auto;
    height: 0;
    width: 0;
    margin: 0;
    border-color: transparent;
    border-width: $arrow-size;
    pointer-events: none;
  }
  @if $arrow-position == "top" {
    &:after {
      bottom: 100%;
      border-bottom-color: $arrow-color;
      margin-left: (-$arrow-size);
      left: 50%;
    }
  }
  @if $arrow-position == "right" {
    &:after {
      left: 100%;
      border-left-color: $arrow-color;
      margin-top: (-$arrow-size);
      top: 50%;
    }
  }
  @if $arrow-position == "bottom" {
    &:after {
      top: 100%;
      border-top-color: $arrow-color;
      margin-left: (-$arrow-size);
      left: 50%;
    }
  }
  @if $arrow-position == "left" {
    &:after {
      right: 100%;
      border-right-color: $arrow-color;
      margin-top: (-$arrow-size);
      top: 50%;
    }
  }
}

@mixin css-chevron($arrow-position, $arrow-color, $arrow-size, $height, $border-width, $border-style, $rotate) {
  &:after {
    position: absolute;
    top: auto;
    left: auto;
    content: " ";
    display: block;
    width: $arrow-size;
    height: $height;
    margin: 0;
    border-color: transparent;
    pointer-events: none;
    transition: all linear 0.25s;
  }
  @if $arrow-position == "top" {
    &:after {
      bottom: 0%;
      border-bottom: $border-width $border-style $arrow-color;
      border-right: $border-width $border-style $arrow-color;
      margin-left: (-$arrow-size/2);
      left: 50%;
      transform: rotate($rotate);
    }
  }
  @if $arrow-position == "right" {
    &:after {
      left: 100%;
      border-left: $border-width $border-style $arrow-color;
      margin-top: (-$arrow-size/2);
      top: 50%;
    }
  }
  @if $arrow-position == "bottom" {
    &:after {
      top: 100%;
      border-top: $border-width $border-style $arrow-color;
      margin-left: (-$arrow-size/2);
      left: 50%;
    }
  }
  @if $arrow-position == "left" {
    &:after {
      right: 100%;
      border-right: $border-width $border-style $arrow-color;
      margin-top: (-$arrow-size/2);
      top: 50%;
    }
  }
}