/* Defining style rules for commonly used utilities of the theme */

/* Creating namespace for button with btn prefix */

.#{$ns} {
  &__btn {
    &-wrapper {
      margin-top: 3.500rem;
    }
  }
}

$btn: 'btn';
.#{$btn} {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  padding: 1.19rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0px;
  color: $color-white;
  font-size: 1.125rem;
  text-transform: $uc;
  text-align: center;
  line-height: 0.875rem;
  transition: all linear 0.5s;
  font-family: $ff-museo-500;

  /* Button under top bar */
  .#{$ns}-bar & {
    padding: 0.750rem 1.5rem;
    font-size: 0.875rem;
    font-family: $base-font-family;
  }

  @include media("<=ipad", ">smart-phone") {
    font-size: 0.938rem;
  }

  /* Gap around button* */
  /* Gap Top */
  &-gapTop {
    /* Gap large */
    &--large {
      @include media(">smart-phone") {
        margin-top: 3.188rem;
      }

      @include media("<=smart-phone") {
        margin-top: 1.25rem;
      }
    }

    /* Gap medium */
    &--medium {
      margin-top: 1.3rem;
    }
  }

  /* small button */
  &--small {
    width: 100%;
    text-transform: none;

    @include media(">smart-phone") {
      padding: 0.688rem 1.250rem;
    }

    @include media("<=smart-phone") {
      padding: 0.688rem 0.983rem;
    }
  }

  /* large button */
  &--large {
    @include media(">desktop") {
      font-size: 1.125rem;
    }

    @include media(">ipad") {
      padding: 1.188rem 1.350rem;
    }

    @include media("<=ipad", ">smart-phone") {
      padding: 1.188rem 2rem;
    }

    @include media("<=smart-phone") {
      padding: 1rem 2rem;
      line-height: 1.25rem;
    }

    &-custom {
      margin-top: 1.75rem;
      width: 100%;
      max-width: 245px;
    }
  }

  /* medium button */
  &--medium {
    width: 100%;
    max-width: 208px;

    &:not(:last-of-type) {
      @include media(">smart-phone") {
        margin-right: 0.875rem;
      }
    }
  }

  /* different states for buttons */

  &:hover,
  &:focus {
    background: transparent;
    //color: $color-white;
  }

  /* Psuedo properties for button */

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  }

  &:hover {
    &::before {
      opacity: 0;
      -webkit-transform: scale3d(0.8, 0.8, 1);
      transform: scale3d(0.8, 0.8, 1);
    }

    &::after {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  /* White colored button */
  &--white {
    background: $color-white;
    border: 1px solid $color-white;
    //color: $primary-color;

    &:hover,
    &:focus {
      border: 1px solid $color-white;
      color: $color-white;
    }
  }

  /* Black colored button */
  &--black {
    background: $color-black;
    border: 1px solid $color-black;
    color: $color-black;

    &:hover {
      //border: 1px solid $primary-color;
      //color: $primary-color;
    }
  }

  /* Black colored button */
  &--montana {
    background: $color-montana;

    /* Pseudo properties of palma button */
    &::before {
      background-color: transparent;
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);
    }

    &::after {
      border-color: $color-montana;
      border-style: solid;
      border-width: 2px;
    }

    &:hover {
      color: $color-montana;
      &::before {
        opacity: 1;
        border-color: $color-montana;
        border-style: solid;
        border-width: 2px;
        transform: scale3d(1, 1, 1);
      }

      &::after {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
      }
    }
  }

  /* Goldenrod button */
  &--goldenrod {
    background: $color-darkGoldenrod;

    /* Pseudo properties of palma button */
    &::before {
      background-color: transparent;
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);
    }

    &::after {
      border-color: $color-darkGoldenrod;
      border-style: solid;
      border-width: 2px;
    }

    &:hover,
    &:focus {
      background: transparent;
      color: $color-darkGoldenrod;
      &::before {
        opacity: 1;
        border-color: $color-darkGoldenrod;
        border-style: solid;
        border-width: 2px;
        transform: scale3d(1, 1, 1);
      }

      &::after {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
      }
    }
  }

  /* Palma button */

  &--palma {
    // border: 1px solid $color-palma;
    // color: $color-white;

    // /* Pseudo properties of palma button */

    // &::after {
    //   opacity: 0;
    //   border-color: $color-palma;
    //   -webkit-transform: scale3d(1.2, 1.2, 1);
    //   transform: scale3d(1.2, 1.2, 1);
    // }

    // &::before {
    //   background: $color-palma;
    // }

    background: $color-palma;
    /* Pseudo properties of palma button */

    &::before {
      background-color: palma;
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);
    }

    &::after {
      border-color: $color-palma;
      border-style: solid;
      border-width: 2px;
    }

    &:hover {
      background: transparent;
      color: $color-palma;
      &::before {
        opacity: 1;
        border-color: $color-palma;
        border-style: solid;
        border-width: 2px;
        transform: scale3d(1, 1, 1);
      }

      &::after {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
      }
    }
  }

  &--heather {
    // border: 2px solid $color-heather;
    // color: $color-white;

    // /* Pseudo properties of palma button */

    // &::after {
    //   opacity: 0;
    //   border-color: $color-heather;
    //   -webkit-transform: scale3d(1.2, 1.2, 1);
    //   transform: scale3d(1.2, 1.2, 1);
    // }

    // &::before {
    //   background: $color-heather;
    // }

    // &:hover {      
    //   color: $color-heather;
    // }

    background: $color-heather;
    /* Pseudo properties of palma button */
    &::before {
      background-color: transparent;
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);
    }

    &::after {
      border-color: $color-heather;
      border-style: solid;
      border-width: 2px;
    }

    &:hover {
      background: transparent;
      color: $color-heather;
      &::before {
        opacity: 1;
        border-color: $color-heather;
        border-style: solid;
        border-width: 2px;
        transform: scale3d(1, 1, 1);
      }

      &::after {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
      }
    }
  }

  /* Storm gray button */
  &--stromGrey {
    background: $color-storm-grey;

    /* Pseudo properties of palma button */
    &::before {
      background-color: transparent;
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);
    }

    &::after {
      border-color: $color-storm-grey;
      border-style: solid;
      border-width: 2px;
    }

    &:hover {
      color: $color-storm-grey;
      &::before {
        opacity: 1;
        border-color: $color-storm-grey;
        border-style: solid;
        border-width: 2px;
        transform: scale3d(1, 1, 1);
      }

      &::after {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
      }
    }
  }

  /* Grisfonce2 button */
  &--grisfonce2 {
    background: $color-grisfonce2;

    /* Pseudo properties of palma button */
    &::before {
      background-color: transparent;
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);
    }

    &::after {
      border-color: $color-grisfonce2;
      border-style: solid;
      border-width: 2px;
    }

    &:hover {
      color: $color-grisfonce2;
      &::before {
        opacity: 1;
        border-color: $color-grisfonce2;
        border-style: solid;
        border-width: 2px;
        transform: scale3d(1, 1, 1);
      }

      &::after {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
      }
    }
  }

  /* transparent button */

  &.btn-transparent {
    background: none;
    color: $color-white;

    &:hover {
      background: $color-white;
      //color: $default-color;
    }
  }
}

/* Ribbons style */
.ribbon {
  width: 100%;
  text-align: center;
  transform: rotate(45deg) rotateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;

  @include media(">desktop") {
    font-size: 1.125rem;
    line-height: 1.2rem;
  }

  @include media("<=desktop", ">smart-phone") {
    font-size: 1rem;
    line-height: 1.02rem;
  }

  @include media("<=ipad", ">smart-phone") {
    font-size: 0.85rem;
    line-height: 0.95rem;
  }

  @include media("<=smart-phone") {
    line-height: 1rem;
  }

  &__inner {
    width: 100%;
    background: $color-storm-grey;

    .ribbon-recentProduct & {
      padding: 1rem 1rem 0.8rem;
    }

    .ribbon-newProduct & {
      padding: 1.40rem 1rem 1.45rem;
      background: $color-darkGoldenrod;
    }

    > span {
      position: relative;
      display: inline-block;
      text-align: left;
      text-transform: $uc;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";

        @include media(">desktop") {
          background: {
            repeat: no-repeat;
            size: 100%;
          }
        }

        @include media("<=desktop", ">laptop") {
          background: {
            repeat: no-repeat;
            size: 100%;
          }
        }

        @include media("<=laptop", ">ipad") {
          background: {
            repeat: no-repeat;
            size: 85%;
          }
        }

        @include media("<=ipad", ">smart-phone") {
          background: {
            repeat: no-repeat;
            size: 83%;
          }
        }

        @include media("<=smart-phone") {
          background: {
            size: 100%;
          }
        }
      }
    }
  }

  &-abs {
    position: absolute;
    z-index: $one-index;

    &--topRight {
      top: -7.25%;
      right: -7.25%;
    }
  }

  /* Recent product */
  &-recentProduct {
    span {
      padding-left: 2.25rem;

      &::before {
        margin-top: 3px;
        margin-left: -8px;
        width: 2.313rem;
        height: 2.250rem;
        //transform: translate3d(0%, -50%, 0) rotate(-45deg);
        transform: translateX(0%) translateY(-50%) rotate(-45deg);
        background-image: url(#{$img-path}picto-new-product.png);

        @include media("<=laptop", ">smart-phone") {
          margin-left: 0px;
        }
      }
    }
  }

  /* New product */
  &-newProduct {

    span {
      padding-right: 2.25rem;
      padding-left: 3rem;
      
      &::before {
        margin-top: 0px;
        margin-left: 0px;
        width: 2.313rem;
        height: 2.250rem;
        transform: translate3d(0%, -50%, 0) rotate(-45deg);
        background-image: url(#{$img-path}picto-recent.png);

        @include media("<=laptop", ">smart-phone") {
          margin-left: 8px;
        }
      }
    }
  }
}

/* NGL - gap style */
.#{$ns} {
  &__gap {
    /* Top gap */
    &--top {
      /* Top 40px gap */
      &40 {
        @include media(">smart-phone") {
          margin-top: 2.15rem;
        }

        @include media("<=smart-phone") {
          margin-top: 1.25rem;
        }
      }
    }
  }
}

/* NGL - Plain text link */
.#{$ns} {
  &-link {
    display: inline-block;
    line-height: 1rem;
    font-size: 1rem;

    /* Link :: default */

    &--default {
      &::after {
        background: $color-white;
      }
    }

    /* Link Gap */
    &__gap {
      /* Link gap :: large */
      &--large {
        @include media(">smart-phone") {
          margin-top: 3.188rem;
        }

        @include media("<=smart-phone") {
          margin-top: 1.25rem;
        }
      }

      /* Link gap :: small */
      &--small {
        margin-top: 1.25rem;
      }

      /* Link gap :: medium */
      &--medium {
        @include media(">smart-phone") {
          margin-top: 1.875rem;
        }

        @include media("<=smart-phone") {
          margin-top: 0.938rem;
        }
      }
    }

    /* Link :: springbud */
    &--springBud {
      color: $color-springBud;

      &::after {
        background: $color-springBud;
      }
    }

    /* Link :: springbud */
    &--palma {
      color: $color-palma;

      &::after {
        background: $color-palma;
      }
    }

    /* Link :: darkgoldenRod */
    &--darkGoldenrod {
      color: $color-darkGoldenrod;

      &::after {
        background: $color-darkGoldenrod;
      }
    }

    /* Link :: storm grey */
    &--stomGrey {
      color: $color-storm-grey;

      &::after {
        background: $color-storm-grey;
      }  
    }

    /* Link :: italic */
    &--italic {
      font-style: italic;
    }

    /* Link :: underline */

    &--underline {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 1px;
        width: 100%;
        transform: scale3d(1, 1, 1);
        transition: all linear 0.30s;
      }

      &:hover {
        &::after {
          transform: scale3d(0, 0, 0);
        }
      }
    }
  }
}

/* NGL text alignment */
.text {
  &-right,
  &-left {
    @include media("<=smart-phone") {
      text-align: center;
    }
  }
}

/* NGL Chevron */
.#{$ns} {
  &__chevron {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0.875rem;
    height: 0.563rem;
    transform: translate3d(0%, -50%, 0);

    &::after {
        position: absolute;
        top: 50%;
        right: 50%;
        content: "";
        display: block;
        margin-top: -4px;
        margin-right: -8px;
        width: 0.688rem;
        height: 0.688rem;        
        transition: all linear 0.35s;
    }

    /* Chevron color variations */
    &--palma {
      background: {
        //color: $color-palma;
      }

      &::after {
        border-bottom: 0.2rem solid $color-palma;
        border-right: 0.2rem solid $color-palma;
      }
    }

    /* Chevron direction variations */
    &--down {
      top: auto;

      @include media(">smart-phone") {
        bottom: 3rem;
      }

      @include media("<=smart-phone") {
        bottom: 1.75rem;
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

/* NGL media */

.#{$ns} {
  &-media {

    &--full {
      @include media("<=smart-phone") {
        width: 100%
      }
    }

    /* Grayscale */
    &--grayscale {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      max-width: none;
      max-height: none;
      width: auto;
      height: 100%;
      transform: translateX(-50%);
    }
  }
}

/* Defining style rules for zopim chat box */

/* Transform off */

.transformation__off {
  transform: none !important;
}

/* Back to top */

.ipro__backTop-wrapper {
  position: fixed;
  right: 15px;
  bottom: 25px;
  z-index: $higher-index + 4;
  pointer-events: none;
  opacity: 0;
  transform: translateY(50px);
  transition: all ease-in-out 0.35s;

  &.animate {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0px);
  }

  .ipro__backTop {
    display: block;
    width: 3.25rem;
    height: 3.25rem;

    .top__arrow {
      position: relative;
      top: 0;
      display: block;
      width: 3.25rem;
      height: 3.25rem;
      background: $color-storm-grey2;
      transition: all ease-in-out 0.35s;

      &:hover {
        top: -10px;
      }

      &:before {
        position: absolute;
        top: 50%;
        right: 50%;
        content: '';
        display: block;
        margin-top: -4px;
        margin-right: -8px;
        width: 15px;
        height: 15px;
        border-bottom: 2px solid $color-white;
        border-right: 2px solid $color-white;
        transform: rotate(-135deg);
      }
    }
  }
}

 ul {
  &.is__list-group {

    @include media(">smart-phone") {
      margin: 25px 0 50px;
    }

    li {
      position: relative;
      margin-bottom: 5px;
      padding-left: 30px;
      line-height: 1.625em;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        top: 11px;
        right: auto;
        bottom: auto;
        left: 0;
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        border: 2px solid;
        border-radius: 50%;
      }
    }
  }
}

.#{$ns} {
  &__naked-responsive-wrap {
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 50px;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* Parallax fixer */

.ipro__parallax-fixer {
  position: relative;
  z-index: -9999999;
  opacity: 0;
}

/* Fake link with absolute position */

.ipro-link--overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $one-index;
  width: 100%;
  height: 100%;
}

/* Circular shapes */

.shape--circle {
  border-radius: 50%;
}

/* Dialog boxes / Popus */

.#{$ns} {
  &-popup {
    position: absolute;
    top: 100%;
    z-index: $one-index;
    pointer-events: none;
    opacity: 0;
    transform: translateY(20px);
    transition: all ease-in-out 0.35s;

    &--right {
      right: 0;
    }
  }
}

/* Theme colors */
[data-color-type="heather"] {
  background: $color-heather;
}

[data-color-type="storm-gray"] {
  background: $color-storm-grey;
}

[data-color-type="palma"] {
  background: $color-palma;
}

[data-color-type="grisfonce2"] {
  background: $color-grisfonce2;
}


[data-theme="theme-palma"] {
  color: $color-palma;
}

[data-theme="theme-default"] {
  color: $color-white;
}

[data-theme="theme-darkGoldenrod"] {
  color: $color-darkGoldenrod;
}

[data-background="true"] {
  overflow: hidden;
  background: {
    repeat: no-repeat !important;
    position: center center !important;
    size: cover !important;
  };
}

/* Smooth animation */
[data-animation] {
  //overflow: hidden;
  opacity: 0;
  transition: all linear 0.35s;

  &.animated {
    opacity: 1;
  }
}

/* Data parallax */
[data-parallax="true"] {
  color: $color-white;
  background: {
    attachment: fixed;
    repeat: no-repeat;
    position: 0 0;
    size: cover;
  }
}

/* Data grayscale */
[data-grayscale="true"] {
  overflow: hidden;
}

/* Triaiproe shapes */
.ipro-arrow--top {
  @include css-arrow(top, $color-grisfonce2, 8px);
}

/* Chevron shapes */

.ipro-chevron--right {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 9px;
  height: 14px;
  @include css-chevron(top, $color-white, 11px, 11px, 3px, solid, -45deg);
}

/* Backdrop overlay */

.overlay {

  @include media(">smart-phone") {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $one-index;
    background: rgba(0, 0, 0, 0.30);
    pointer-events: none;
    opacity: 0;
    transition: all ease-in-out 0.35s;
  }

  @include media("<=ipad") {
    .has-megamenu-hover-active & {
      display: none;
    }
  }
}

/* Dropdown box shadow */

.dropdown-boxshadow {

  @include media(">ipad") {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    content: "";
    height: 10px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.5);
  }
}

/* Hover active styles */

.ipro__hover-active {

  &.has-megamenu-hover-active {
    .ipro-header__row {
      @include media(">ipad") {
        z-index: $zero-index + 1;
      }
    }
  }

  .hover-on {
    .ipro-popup {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .hover-on {
    .ipro-bar__link {
      color: $color-black;
    }
  }

  .overlay {
    pointer-events: auto;
    opacity: 1;
  }

  &.ipro-bar__item-hover-active {
    .ipro-bar {
      @include media(">ipad") {
        z-index: $zero-index + 4;
      }
    }

    .overlay {
      @include media(">ipad") {
        z-index: $zero-index + 1;
      }
    }
  }
}

/* Sticky header enabled */

.sticky-enabled {
  .ipro-header--sticky#ipro-masthead {
    //z-index: $higher-index + 1;
  }
}

/* Desktop hidden stuffs */

@include media(">ipad") {
  .desktop-hidden {
    display: none;
  }
}

/* Html lock scroll */

.lock-html,
.no-scroll {

  &-x {

    @include media("<=ipad") {
      overflow: hidden;

      body {
        //padding-right: 17px;
      }
    }
  }

  @include media("<=smart-phone") {
    overflow: hidden;

    body {
      padding-right: 17px;
    }
  }
}

/* IE target */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* ie10, ie11+ */
  @include media(">smart-phone") {
    .ipro-slider__slide .ipro-slider__caption {
      right: auto;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) translateZ(0);
    }
  }
}


/* Plus / Minus UI */
.ipro__ui {
  @include media(">smart-phone") {
    display: none;
  }

  @include media("<=smart-phone") {
    position: relative;
    border: 1px solid $color-heather;
    text-align: left;

    &.js-mbl-accordion {
      display: block;
      padding: 12px 15px;
      background: $color-white;
      color: $color-palma;
      line-height: 1rem;
    }

    &--plus,
    &--minus {
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        right: 15px;
        left: auto;
        opacity: 1;
        content: "";
        display: block;
        width: 12px;
        height: 2px;
        background: $color-palma;
        margin-top: -2px;
        border-radius: 5px;
        transform: rotate(0deg);
        transition: all ease-in-out 0.5s;
      }

      &::after {
        width: 12px;
        transform: rotate(90deg);
        transition: all ease-in-out 0.5s;
      }
    }

    &--minus {
      &.js-mbl-accordion {
        // background: $color-palma;
        // color: $color-white;     
      }

      &::before {
        //background: $color-white;
      }

      &::after {
        opacity: 0;
        transform: rotate(180deg);
      }
    }
  }
}

/* Mobile accordion */
.#{$ns}__accordion--mobile-panel {
  @include media(">smart-phone") {
    display: block !important;
  }

  @include media("<=smart-phone") {
    display: none;
    padding: 0px 0px;
    background: {
      color: $color-white;
    }
    //border-top: 1px solid $color-heather;
    border: 1px solid $color-heather;
    border-top: 0;

    .#{$ns}-form__group--inline {
      padding: 7px 15px 5px;

      &:not(:last-of-type) {
        //margin-bottom: 0.35rem;
        border-bottom: 1px solid $color-heather;
      }
    }

    input[type="checkbox"]:checked+label {
      color: $color-palma !important;
    }

    input+label:not(.error)::after {
      border: 1px solid $color-heather;
    }

    label {
      display: block !important;
      color: $color-palma !important;
      font-size: 1.125rem !important;
      text-align: left;

      &::after {
        right: 0 !important;
      }
    }

    .select2-selection__rendered {
      padding-right: 0 !important;
      padding-left: 0 !important;
      background: transparent !important;
      color: $color-palma !important;
    }

    .select2-container .select2-selection--single .select2-selection__arrow b::before {
      border-bottom: 2px solid $color-palma !important;
      border-right: 2px solid $color-palma !important;
    }
  }
}